@use 'reset';
@use 'var' as *;

.diaAll2 {

    background-image: url('../img/diary-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

#diary-discover2{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: $background1;
    padding: 50px 50px 0 50px;

    .d-t-title2 {
        display: flex;
        align-items: baseline;
        padding: 70px 0 0 16px;
        gap: 15px;
    }


    .title-large2 {
        color: $primary2;
        font-family: $en;
        font-size: $f-s-xxl;
        font-weight: $f-w-4;
        line-height: 150%;
        letter-spacing: 4.4px;
    }

    .title-small2 {
        color: $primary2;
        font-family: $en;
        font-size: $f-s-xs;
        font-weight: $f-w-4;
        line-height: 150%;
        letter-spacing: 4.4px;
    }



    header {
        width: 100%;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding: 50px 50px 0 50px;
    }
}

.diaDrop2 {
    flex: 0 0 180px;
    display: flex;
    max-width: 1440px;
    padding: 50px 1rem;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-direction: column;

    ul {
        width: 100%;
        max-width: 140px;
        display: flex;
        padding: 4px 24px;
        justify-content: center;
        align-items: center;
        gap: 5px;
        flex: 100;

        border-radius: 100px;
        background: $primary1;

        li {
            display: flex;
            color: $background1;
            text-align: center;
            font-family: $family-tc;
            font-size: $f-s-sm;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 2px;

        }

        img {
            width: 15px;
            height: 15px;

        }
    }
}



.diaContent2 {
    display: flex;
    align-items: flex-start;
    gap: 10rem;
    padding: 20px 0 0 0;
}



    .diaArticleSection2 {
        padding:50px 24px 24px 24px;
        font-family: 'Helvetica Neue', sans-serif;
        color: #333;
        border-bottom: 1px solid #333;
        max-width: 870px;
            width: 100%;

        .p1-sel2 {
            order: 2;

            .dia-p2 {
                border-top-right-radius: 100px;
                overflow: hidden;
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                  
                }
            }
        }

        .diaArticle2 {
            flex: 1;
            display: flex;
            flex-direction: column;
            
            .d-member2 {
                padding: 24px 0 0 0;
                display: flex;
                align-items: center;
                gap: 0.5rem;
                margin-bottom: 0.8rem;

                div {
                    width: 30px;
                    height: 30px;
                    background-color: #333;
                    border-radius: 50%;
                }
                p{
                    font-size: $f-s-sm;
                }

            }

            .d-text-card2 {
                display: flex;
                flex-direction: column;


                .d-text2 {
                    .d-tit2 {
                        font-size: $f-s-md;
                        font-weight: bold;
                        margin-bottom: 0.8rem;

                    }

                    .d-word2 {
                        font-size: $f-s-sm;
                        color: #555;
                        line-height: 1.6;
                        margin-bottom: 0.8rem;

                    }
                }

                .d-sign2 {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    flex-wrap: wrap;
                    font-size: 0.8rem;
                    color: #999;

                    .d-locaion2 {
                        display: flex;
                        align-items: center;
                        gap: 0.4rem;

                        img {
                            width: 25px;
                            height: 25px;
                        }
                    }

                    .h-d-loc2{
                        background-color: #fff;
                        border-radius: 12px;
                        padding: 1.5px 12px;
                        color: #aaa;
                        font-size: 0.8rem;
                    }

                    .h-d-date2 {
                        background-color: #fff;
                        border-radius: 12px;
                        padding: 1.5px 9px;
                        color: #aaa;
                        font-size: 0.8rem;

                    }

                    figure {
                        margin: 0;
                        cursor: pointer;

                        img {
                            width: 20px;
                            height: 20px;
                            transition: transform 0.2s;

                            &:hover {
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }
        }
    }
