@use 'reset';
@use 'var' as *;


// Banner區
#groupBanner2 {
    position: relative;
    /* 讓內部子元素可以絕對定位 */
    display: flex;
    width: 100%;
    height: 465px;
    // justify-content: center;
    // align-items: center;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        /* 去掉底部空隙 */
    }
}

.groupSlogan2 {
    position: absolute;
    /* 疊在圖片上 */
    top: 50%;
    /* 垂直置中 */
    left: 50%;
    /* 水平置中 */
    transform: translate(-50%, -50%);
    /* 修正偏移，真正置中 */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;

    h3,
    h2 {
        color: #fff;
        text-align: center;
        line-height: 150%;
    }

    h3 {
        font-family: $en;
        font-size: 22px;
        font-weight: $f-w-4;
        letter-spacing: $spacing-xxs;
    }

    h2 {
        font-family: $family-tc;
        font-size: $f-s-xxl;
        font-weight: $f-w-5;
        letter-spacing: $spacing-xs;
    }

    .line {
        width: 60px;
        height: 1px;
        background: #fff;
    }
}

// 內文資訊區

#groupInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activity-main {
    display: flex;
    align-items: flex-end;
    gap: 52px;
    position: relative;
    top: -110px;
    /* 負值代表往上移動 */
}

.info_img {
    // position: absolute;
    // /* 絕對定位 */
    // left: 150px;
    // /* 距離左邊 150px */
    // top: 391px;
    // /* 距離上邊 391px */
    width: 441px;
    height: 400px;
    flex-shrink: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.activity-introduction {
    display: flex;
    flex-direction: column;

    // align-items: center;
    gap: 16px;

    li {
        display: flex;
        align-items: center;
        gap: 16px; // h3 與 p 的間距
    }

    h3 {
        // 文字樣式
        color: #fff;
        font-family: $family-tc;
        font-size: $spacing-md;
        font-weight: $f-w-4;
        letter-spacing: 2px;

        //  按鈕樣式
        display: flex;
        padding: 5px 30px;
        // justify-content: center;
        // align-items: center;
        border-radius: 99px;
        background-color: $primary1;
    }

    p {
        font-family: $family-tc;
        font-size: $f-s-sm;
        font-weight: $f-w-4;
        color: $primary2;

        // line-height: 150%;
        // letter-spacing: 2px;
        // text-align: center;
    }
}

.activity-btn {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.pm {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5px 30px;
    // width: 100%;
    justify-content: center;
    align-items: center;

    color: $text;
    font-size: $f-s-md;
    border-radius: 999px;

    border: 1px solid #7A7872;

    cursor: pointer;
    transition: 0.2s;

    &:hover {
        background: #e0e0e0;
    }
}

.join {
    display: flex;
    padding: 5px 30px;
    gap: 8px;
    // width: 100%;
    justify-content: center;
    align-items: center;

    background-color: $accent;
    color: $text;
    font-size: $f-s-md;
    border-radius: 999px;

    cursor: pointer;
    transition: 0.2s;

    &:hover {
        background: #e7c300;
    }

    img {
        width: 8.5px;
        height: 15.5px;
    }
}

.content-title {
    display: flex;
    /* 建議打開 flex，讓子元素好控制 */
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    /* 子元素全部靠左 */
    padding: 0px 150px;

    h3,
    h2 {
        text-align: left;
        /* 文字靠左 */
        line-height: 150%;
    }

    h3 {
        color: $primary2;
        font-family: $en;
        font-size: 22px;
        font-weight: $f-w-4;
        letter-spacing: $spacing-xxs;
    }

    h2 {
        color: $text;
        font-family: $family-tc;
        font-size: $f-s-xxl;
        font-weight: $f-w-5;
        letter-spacing: $spacing-xs;
    }

    .line {
        width: 60px;
        height: 1px;
        background: $primary1;
    }

    p {
        color: #7A7872;
        font-family: $family-tc;
        font-size: $f-s-md;
        font-weight: $f-w-4;
        letter-spacing: 2px;
    }
}

// 發起人+報名人數
#people-info {
    display: flex;
    width: 100%;
    margin-top: 40px;
    padding: 0px 150px;
    gap: 20%;
    align-items: center;
}

.organizer-info {
    display: flex;
    flex-direction: column;
    gap: 12px;

    h3 {
        font-family: $family-tc;
        font-size: $f-s-lg;
        line-height: 100%;
        letter-spacing: 2px;
    }

    p {
        color: #7A7872;
        font-family: $family-tc;
        font-size: $f-s-sm;
        line-height: 100%;
        letter-spacing: 2px;
    }
}

.participants {
    display: flex;
    flex-direction: column;
    gap: 12px;

    h3 {
        font-family: $family-tc;
        font-size: $f-s-lg;
        line-height: 100%;
        letter-spacing: 2px;
    }

    p {
        color: #7A7872;
        font-family: $family-tc;
        font-size: $f-s-sm;
        line-height: 100%;
        letter-spacing: 2px;
    }
}


.people-img {
    display: flex;
    width: 80px;

    border-radius: 999px;
    border: 2px solid $white;
}

.join-people {
    display: flex;
    align-items: center;
}

.people-img2 {
    display: flex;
    width: 80px;

    border-radius: 999px;
    border: 2px solid $white;
    margin-left: -40px;
}

.people-img2 img:first-child {
    margin-left: 0;
}

// 留言區
#activity-comments {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    margin-top: 40px;
    padding: 0px 150px;
    align-items: flex-start;
    /* 讓子元素在水平軸靠左 */

    h3 {
        font-family: $family-tc;
        font-size: $f-s-lg;
        line-height: 100%;
        letter-spacing: 2px;
    }
}

.comment {
    display: flex;
    gap: 32px;
    width: 100%;
    padding: 16px 0px;
    align-items: center;
    border-bottom: 1px solid $primary2;
}

.comment-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.commenter-photo {
    display: flex;
    width: 72px;

    border-radius: 999px;
    border: 2px solid $white;
}


.commenter-name {
    align-self: stretch;

    color: #7A7872;
    font-family: $family-tc;
    font-size: $f-s-sm2;
    line-height: 150%;
    letter-spacing: 1px;
}

p {
    align-self: stretch;
    color: #41453D;
    font-family: $family-tc;
    font-size: $f-s-md;
    line-height: 150%;
    letter-spacing: 2px;
}

.input {
    font-size: $f-s-md;
    color: #7A7872;
    border-left: 2px solid $primary2;
    padding-left: 8px; // 這裡加上 gap
}

// 留言區
#more-activities {
    display: flex;
    flex-direction: column;
    padding: 0px 150px;
    margin-top: 80px;
    gap: 32px;
}

.more-activities-title {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    background: $background1;
    z-index: 1;

    h3,
    h2 {
        text-align: center;
        line-height: 150%;
    }

    h3 {
        color: $primary2;
        font-family: $en;
        font-size: 22px;
        font-weight: $f-w-4;
        letter-spacing: $spacing-xxs;
    }

    h2 {
        color: $text;
        font-family: $family-tc;
        font-size: $f-s-xxl;
        font-weight: $f-w-5;
        letter-spacing: $spacing-xs;
    }

    .line {
        width: 60px;
        height: 1px;
        background: $primary2;
    }
}

.more-activities-cards {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

// 發起揪團

#createGroup {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 80px 150px;
    // border: 5px solid #f80202;
}

.createGroup-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    h2 {
        color: $primary2;
        font-family: $family-tc;
        font-size: $f-s-md;
        letter-spacing: 2px;
    }

    .line {
        width: 60px;
        height: 1px;
        background: $primary2;
    }

    button {
        color: $primary1;
        text-align: center;
        margin-top: 5px;
        /* 中文/大標 */
        font-family: $family-tc;
        font-size: $f-s-lg;
        font-weight: $f-w-5;
        line-height: 150%;
        letter-spacing: 2px;

        display: flex;
        padding: 8px 40px;
        justify-content: center;
        align-items: center;
        border-radius: 999px;
        background: $accent;

        /* 上下飄移動畫 */
        animation: floatUpDown 3s ease-in-out infinite;
    }

    /* hover 時：加上旋轉動畫，只跑一次 */
    button:hover {
        animation: floatUpDown 3s ease-in-out infinite, rotateShake 0.5s ease-in-out 1;
    }

    /* keyframes: 上下飄移 */
    @keyframes floatUpDown {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-6px);
        }
    }

    /* keyframes: 左右旋轉 */
    @keyframes rotateShake {
        0% {
            transform: rotate(0deg);
        }

        25% {
            transform: rotate(-5deg);
        }

        75% {
            transform: rotate(5deg);
        }

        100% {
            transform: rotate(0deg);
        }
    }


}