@use 'reset';
@use 'var' as *;

// Group-揪團卡片區
.group-event-card {

    // width: 360px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 12px;
    background-color: $white;
    // cursor: pointer;
    transition: 0.2s;

    &:hover {
        transform: translateY(0.5px);
        box-shadow: 0 6px 18px rgba(0, 0, 0, .2);
    }
}

// 卡片上半部-圖片
// 卡片圖片
.card-img {
    display: flex;
    position: relative;
    object-fit: cover;

    img {
        width: 100%;
        object-fit: cover;
    }

    // 幾人參加小標示
    .badge-signup-count {
        position: absolute;
        top: 12px;
        right: 12px;
        background: rgba(60, 50, 40, 0.8);

        color: #fff;
        font-size: $f-s-sm;
        line-height: 150%;
        letter-spacing: 1.6px;
        padding: 4px 16px;
        border-radius: 20px;
        z-index: 2;
    }
}

// 卡片下半部-活動內容
.card-content {
    display: flex;
    padding: 16px 24px;
    flex-direction: column;
    gap: 16px;

    @media ($mediaMd) {
        padding: 14px 22px;
        gap: 12px;
    }

    @media ($mediaSm) {
        padding: 12px 20px;
        gap: 8px;
    }

    .card-date {
        display: flex;
        // justify-content: center;
        justify-content: space-between;
        align-items: center;
        color: $primary1;
        font-family: $family-en;
        font-size: $primary1;


        .card-location {
            font-family: $family-tc;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 4px 16px;
            border-radius: 999px;
            border: 1px solid $primary1;

            @media ($mediaMd) {
                font-size: $f-s-xs;
                padding: 4px 4px;
                justify-content:end;
            }

            @media ($mediaSm) {
                
            }

        }
    }

    // 活動標題+內容
    .card-item {
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-self: stretch;


        h2 {
            color: $primary1;
            font-family: $family-tc;
            font-size: $f-s-lg;
            font-weight: $f-w-5;
            letter-spacing: 2.4px;
        }

        p {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            /* 垂直排列 */
            -webkit-line-clamp: 2;
            line-clamp: 2;
            /* 限制顯示 2 行 */
            overflow: hidden;
            /* 超出隱藏 */
            text-overflow: ellipsis;
            /* 文字省略號 */

            color: $primary2;
            font-family: $family-tc;
            font-size: $f-s-xs;
            line-height: 150%;
            letter-spacing: 1.4px;
        }
    }

    // 按鈕區
    .card-btns {
        display: flex;
        gap: 24px;
        justify-content: center;

        .join {
            display: flex;
            width: auto;
            height: 32px;
            padding: 4px 24px;
            justify-content: center;
            align-items: center;

            color: $text;
            font-size: $f-s-sm;
            font-weight: $f-w-4;
            line-height: 100%;
            border-radius: 999px;
            background: $accent;

            transition: 0.2s;

            &:hover {
                background: #e7c300;
            }
        }

        .view-more {
            display: flex;
            height: 32px;
            padding: 4px 24px;
            justify-content: center;
            align-items: center;
            color: $text;
            font-size: $f-s-sm;
            gap: 8px;
            border-radius: 999px;

            border: 1px solid #7A7872;
            transition: 0.2s;

            &:hover {
                background: #e0e0e0;
            }

            img {
                width: 8.5px;
                height: 15.5px;
            }
        }
    }

}