@use 'reset';
@use 'var' as *;


// 共用區

body {
    overflow-x: hidden;
}

.h-t-1 {
    color: $primary2;
    text-align: center;
    font-family: $en;
    font-size: 22px;
    font-style: normal;
    font-weight: $f-w-4;
    line-height: 150%;
    letter-spacing: $spacing-xxs;
    white-space: nowrap;

}

.h-t-2 {
    color: $primary1;
    font-family: $family-tc;
    font-size: $f-s-xxl;
    font-style: normal;
    font-weight: $f-w-5;
    line-height: 150%;
    /* 54px */
    letter-spacing: $spacing-xs;
    white-space: nowrap;

}

.home-all-spot {
    display: flex;
    padding: 5px 30px; //暫改
    justify-content: center;
    align-items: center;

    border-radius: 99px;
    background-color: $primary1;
    border: none;
}



// banner區
#homebanner {
    position: relative;
    width: 100%;
    height: 130vh;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:
        linear-gradient(180deg,
            rgba(65, 69, 61, 0) 75.48%,
            #41453D 100%),
        url("/img-Home/HomeBanner.jpg") center/cover no-repeat;
    //  background-attachment: fixed; //固定背景
    overflow-x: hidden;
    /* ← 你之前寫在 .homeslogan，請移到這裡 */
    overflow-y: visible;




    .homeslogan {

        position: fixed;
        inset: 0;
        /* top/right/bottom/left = 0 */
        margin: auto;
        /* 在可用空間中居中 */
        // width: min(571px, 92vw);
        /* 小螢幕不超出 */
        height: max-content;
        /* 讓 margin:auto 能計算垂直置中 */
        text-align: center;
        z-index: 2;


        opacity: 0;
        transition: opacity 0.3s ease;

        display: flex;
        width: 571px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        // margin-bottom: 100px;

        @media ($mediaSm) {
            padding: 50px;

        }




        &.fade-in {
            opacity: 1;
        }

        &.fade-out {
            opacity: 0;
        }

        h2 {
            font-size: $f-s-xxl;
            color: $white;
            font-family: $family-tc;
            text-align: center;
            text-shadow: 0 0 20px rgba(0, 0, 0, 0.80);
            font-weight: 500;
            letter-spacing: $spacing-xs;

        }

        .home-b-form {
            display: flex;
            height: 43px;
            padding: 8px 24px;
            justify-content: space-between;
            align-items: center;
            align-self: stretch;

            border-radius: 999px;
            border: 1px solid $white;
            background: rgba(244, 241, 229, 0.50);
            color: $text;
            // 字體
            font-family: $en;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 5px;
            overflow: clip;

            @media ($mediaSm) {
                height: $spacing-xl;
                align-self: center;
                gap: 160px;
                padding: 8px 16px;
            }



            img {
                width: 24px;
                height: 24px;

            }

            span {
                font-family: $en;
                font-size: 22px;
                font-style: normal;
                font-weight: $f-w-4;
                line-height: 150%;
                letter-spacing: 5px;
            }
        }


    }


    .banner-side-word {
        position: absolute;
        left: 50px;
        top: 360px;
        writing-mode: vertical-rl;
        white-space: nowrap;

        color: $white;

        text-align: center;
        font-family: $en;
        font-size: $spacing-md;
        font-style: normal;
        font-weight: 300;
        line-height: 150%;
        letter-spacing: $spacing-xxs;

        @media ($mediaSm) {
            display: none;
        }
    }

    .homescroll {
        display: flex;
        justify-content: center;
        width: 88px;
        flex-direction: column;
        align-items: center;
        position: absolute;
        bottom: 250px;
        width: 88px;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-position: center;
        }
    }

    .banner-line {
        position: absolute;
        top: 300px;
        right: 10px;

        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        overflow: clip;

        img {

            display: block;
            max-width: 100%;
            height: auto;
        }
    }

    .homeboat-b {
        position: absolute;
        top: 280px;
        right: 68px;
        max-width: 100%;

        img {

            display: block;
            max-width: 100%;
            height: auto;
        }
    }
}

//優勢區
#homeadvantages {
    width: 100%;
    height: 50vh;
    background-color: $primary1;
    padding: 0 80px 130px 150px;
    gap: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: -60px;

    @media ($mediaXl) {
        flex-direction: column;
        padding: 0 80px 130px 100px;
        height: 60vh;
    }

    @media ($mediaSm) {
        flex-direction: column;
        padding: 0 50px 130px 80px;
        height: 70vh;
        gap: 50px;
    }


    header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        z-index: 1;

        p {
            color: $white;
            display: flex;
            white-space: nowrap;
        }

        span {
            border-bottom: 1px solid $white;
            padding-bottom: 10px;
        }

    }

    .h-a-boxs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;

        width: 40%;
        flex: 1;
        z-index: 1;

        @media ($mediaSm) {
            width: 80%;
            flex-wrap: wrap;
            gap: 16px;
        }


        article {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 16px;

            // width: 160px;
            &:nth-child(1) {
                margin-top: -100px;

                @media ($mediaSm) {
                    margin-top: 0;
                }
            }

            &:nth-child(2) {
                margin-top: 50px;

                @media ($mediaSm) {
                    margin-top: 0;
                }
            }

            &:nth-child(3) {
                margin-top: -100px;

                @media ($mediaSm) {
                    margin-top: 0;
                }
            }

            &:nth-child(4) {
                margin-top: 50px;

                @media ($mediaSm) {
                    margin-top: 0;
                }
            }

            figure {
                background-color: $accent;
                border-radius: 99px;
                width: 78px;
                height: 78px;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 48px;
                    height: 48px;
                    object-fit: cover;
                    display: block;
                }
            }

            h3 {
                color: $white;
                text-align: center;
                font-family: $en;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: 100%;
                letter-spacing: 2px;
                white-space: nowrap;
            }

            p {
                color: $white;

                text-align: center;
                font-family: $en;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                letter-spacing: 1.12px;
                white-space: nowrap;

            }

        }
    }


}

// 地點區
#homelocation {

    width: 100%;
    // height: 115vh;
    padding: 42px 50px 0 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $background1;
    overflow: visible;

    @media ($mediaSm) {
        gap: 100px;

    }



    header {

        display: flex;
        flex-direction: column;

        span {
            border-bottom: 1px solid $primary1;
            padding-bottom: 8px;
        }


        .homenext {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            gap: 13px;
            margin-right: 100px;

            @media ($mediaSm) {
                margin-right: 0px;
            }

        }

        .popularcity {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-left: 100px;
            margin-top: -30px;

            @media ($mediaMd) {
                margin-left: 50px;
                margin-top: 30px;

            }

            @media ($mediaSm) {
                margin-left: -20px;
            }



            p {
                font-family: $family-en;
                font-size: 96px;
                font-style: normal;
                font-weight: $f-w-4;
                line-height: 100%;
                opacity: 0.6;
                background: linear-gradient(180deg, #F4D000 76.95%, rgba(244, 208, 0, 0.00) 113.51%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                @media ($mediaSm) {
                    font-size: 56px;
                }


            }
        }


    }

    .home-lo-boxs {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 80px 100px 0;
        gap: 30px; //暫改

        margin-top: -160px;

        @media ($mediaSm) {

            padding: 0;
        }


        .home-city-grid {
            width: 78%;
            //   margin: 0;                         
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 180px 153px 153px;
            grid-template-areas:
                "a a b"
                "c d b"
                "e f g";
            gap: 12px;
        }


        .home-city-grid>img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 12px;
            display: block;
            // position: center;
        }

        .home-city-grid>img:nth-child(1) {
            grid-area: a;
        }

        .home-city-grid>img:nth-child(2) {
            grid-area: b;
        }

        .home-city-grid>img:nth-child(3) {
            grid-area: c;
        }

        .home-city-grid>img:nth-child(4) {
            grid-area: d;
        }

        .home-city-grid>img:nth-child(5) {
            grid-area: e;
        }

        .home-city-grid>img:nth-child(6) {
            grid-area: f;
        }

        .home-city-grid>img:nth-child(7) {
            grid-area: g;
        }


        .home-all-spot {

            a {


                color: $white;
                font-family: $family-tc;
                font-size: $spacing-md;
                font-style: normal;
                font-weight: $f-w-4;
                line-height: 150%;
                letter-spacing: 2px;
            }
        }

    }

    .h-1-side-word-1 {
        position: absolute;
        right: 50px;
        top: 210px;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        white-space: nowrap;

        color: $primary1;

        text-align: center;
        font-family: $en;
        font-size: $spacing-md;
        font-style: normal;
        font-weight: 300;
        line-height: 150%;
        letter-spacing: $spacing-xxs;

        @media ($mediaSm) {
            display: none;
        }
    }

    .h-1-side-word-2 {
        position: absolute;
        left: 50px;
        bottom: 100px;
        writing-mode: vertical-rl;
        white-space: nowrap;

        color: $primary1;

        text-align: center;
        font-family: "Inter";
        font-size: $spacing-md;
        font-style: normal;
        font-weight: 300;
        line-height: 150%;
        letter-spacing: $spacing-xxs;
    }

    .h-location-line {
        position: absolute;
        top: 440px;
        left: 180px;
        display: block;

        z-index: 1;
        pointer-events: none;
        overflow: visible;


        @media ($mediaSm) {
            display: none;
        }

        img {
            width: 100%;
            height: 100%;
            object-position: center;
        }

    }
}

//揪團區
#homegroup {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 45px;
    background-color: $background1;
    overflow: visible;


    @media ($mediaMd) {
        justify-content: center;
    }

   


    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;

        span {
            border-bottom: 1px solid $primary1;
            padding-bottom: 8px;
        }

        .h-t-2 {
            color: $text;
        }

    }

    .h-l-text {
        display: flex;
        justify-content: flex-start;
        /* 靠左 */
        align-items: flex-start;
        width: 100%;
        gap: 150px;
        padding-left: 150px;
        padding-top: 70px;



        @media ($mediaXl) {
            flex-direction: column;
            padding-left: 80px;
            gap: 65px;
        }

        .h-g-pic {

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0;

           

            figure {
                border: 5px solid $white;
                flex-shrink: 0;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                }
            }

            .h-g-p-1 {
                width: 159.209px;
                height: 106.113px;
                transform: rotate(-6.904deg);
                z-index: 1;
                margin-right: -110px;
                margin-top: 290px;

                @media ($mediaSm) {
                    width: 100px;
                    height: 70px;
                     margin-top: 100px;
                     margin-right: 0px;
                }
            }

            .h-g-p-2 {
                width: 492.651px;
                height: 328.434px;
                transform: rotate(4.139deg);
                
                @media ($mediaSm) {
                    width: 300px;
                    height: 200px;
                }
            }

            .h-g-p-3 {
                width: 210.076px;
                height: 140.05px;
                transform: rotate(-3.236deg);
                margin-left: -90px;
                margin-top: -280px;

                @media ($mediaSm) {
                    display: none;
                }
            }

        }

        ul {
            list-style: disc;
            gap: 15px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            @media ($mediaXl) {
                flex-direction: row;
                // padding-left: 50px;
                gap: 45px;
                flex-wrap: wrap;
            }

            @media ($mediaMd) {
                justify-content: center;
            }



        }

        span {
            color: $text;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            font-family: $family-tc;
            font-size: $f-s-md;
            font-style: normal;
            font-weight: $f-w-4;
            line-height: 150%;
            letter-spacing: 2px;

            img {
                width: 24px;
                height: 24px;

            }


        }

        li {
            &:nth-child(n+2) {
                span {
                    opacity: 30%;
                }

                img {
                    opacity: 0%;

                }

            }
        }

        .home-all-spot {
            margin-left: -20px;

            a {

                color: $white;
                font-family: $family-tc;
                font-size: $spacing-md;
                font-style: normal;
                font-weight: $f-w-4;
                line-height: 150%;
                letter-spacing: 2px;
            }
        }



    }


    /* 膠囊和大字之間的距離 */
    .h-g-tags {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        gap: 20px;
        width: 100%;
        // padding-right: 150px;
        // padding-left: 800px;
        margin-right: 280px;
        margin-top: -50px;

        @media ($mediaMd) {
            display: none;
        }


        @media ($mediaXl) {
            margin-right: 150px;
            margin-top: -250px;
            z-index: 1;
        }
    }

    .h-g-block1 {
        display: inline-flex;
        // align-self: flex-end;
        transform: rotate(-1.822deg);
        padding: 12px 40px;
        justify-content: center;
        align-items: center;
        gap: 10px;

        border-radius: 10px;
        background: $white;

        color: $primary1;
        font-family: "Noto Sans TC";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 2px;
        white-space: nowrap;
    }

    .h-g-block2 {
        // align-self: flex-start;
        display: inline-flex;
        transform: rotate(1.951deg);
        padding: 12px 40px;
        justify-content: center;
        align-items: center;
        gap: 10px;

        border-radius: 10px;
        background-color: $accent;

        color: $text;
        font-family: "Noto Sans TC";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 2px;
        white-space: nowrap;
        margin-right: 200px;
    }

    .h-g-botton-wrap {
        position: absolute;
        left: 0;
        /* 把外層錨在整個區塊寬度 */
        right: 0;
        bottom: -10px;
        width: 100%;
        text-align: center;
        /* 讓裡面東西水平置中 */
        overflow-x: hidden;
        /* 只裁左右 */
        overflow-y: visible;
        /* 上下完全顯示 */
        scrollbar-width: none;


        .h-g-botton {


            display: inline-block;
            /* 讓寬度等於文字本身 */
            white-space: nowrap;
            /* 不換行 */
            pointer-events: none;
            font-family: $family-en;
            font-size: clamp(56px, 8vw, 120px);
            line-height: 1;
            font-weight: 400;
            opacity: .6;
            background: linear-gradient(180deg, $accent, rgba(244, 208, 0, 0));
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .h-g-side-word-1 {
        position: absolute;
        right: 50px;
        top: 20%;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        white-space: nowrap;

        color: $primary1;

        text-align: center;
        font-family: $en;
        font-size: $spacing-md;
        font-style: normal;
        font-weight: 300;
        line-height: 150%;
        letter-spacing: $spacing-xxs;

        @media ($mediaSm) {
            display: none;
        }
    }

    .h-group-line {
        position: absolute;
        top: 320px;
        right: 120px;
        display: block;

        z-index: 1;
        pointer-events: none;
        overflow: visible;

        @media ($mediaMd) {
            display: none;
        }


        img {
            width: 100%;
            height: 100%;
            object-position: center;
        }

    }
}




// 日記區
#homediary {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: $background1;


    background-image: url("../../../public/img-Home/diary-bg.jpg");
    background-size: contain;
    background-position: bottom;
    background-position: bottom center;
    background-repeat: no-repeat;


    position: relative;
    padding: 80px 150px 285px 150px;
    display: grid;
    justify-content: center;

    grid-template-columns: minmax(200px, 700px) auto 1fr;

    grid-template-rows: auto 1fr;
    grid-template-areas: "pics . title"
        "pics . article";
    align-items: start;

    @media ($mediaXl) {
        padding: 80px 80px 285px 0px;
    }

    header {
        grid-area: title;

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 13px;

        // padding: 90px 150px;
        span {
            border-bottom: 1px solid $primary1;
            padding-bottom: 8px;
        }

    }

    .h-d-article-box {
        grid-area: article;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;

        article {

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 10px;

            .h-d-member {
                display: flex;
                align-items: center;
                gap: 10px;

                div {
                    width: 30px;
                    height: 30px;
                    border-radius: 99px;
                    background-color: $primary1;
                }

                p {
                    color: $text;
                    font-family: $en;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 130%;
                    letter-spacing: 0.8px;
                }
            }

            .h-d-text-card {
                display: flex;
                flex-direction: column;
                gap: 30px;

                .h-d-text {
                    display: flex;
                    flex-direction: column;
                    gap: 13px;

                    .h-d-tit {
                        color: $text;
                        font-family: $family-tc;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                        letter-spacing: 2px;
                    }

                    .h-d-word {
                        color: $text;
                        font-family: $family-tc;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                        letter-spacing: 1.6px;
                    }

                }

            }

            .h-d-sign {
                display: flex;
                gap: 7px;
                align-items: center;

                p {
                    color: $text;

                    text-align: center;
                    font-family: $family-tc;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 100%;
                }

                .h-d-locaion {
                    display: flex;
                    align-items: center;

                    img {
                        display: flex;
                        width: 32px;
                        height: 32px;
                        justify-content: center;
                        align-items: center;
                    }

                    p {
                        display: flex;
                        padding: 10px 20px;
                        justify-content: flex-start;
                        align-items: center;
                        flex-shrink: 0;
                        white-space: nowrap;

                        border-radius: 999px;
                        background-color: rgba(255, 255, 255, 0.50);


                    }
                }

                .h-d-date {
                    display: flex;
                    padding: 10px 20px;
                    justify-content: center;
                    align-items: center;
                    color: #201811;
                    white-space: nowrap;

                    border-radius: 999px;
                    background: rgba(255, 255, 255, 0.50);
                }

                img {
                    width: 26px;
                    height: 26px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

        }

        .home-all-spot {
            background-color: $accent;

            a {
                color: $text;
                font-family: $family-tc;
                font-size: $spacing-md;
                font-style: normal;
                font-weight: $f-w-4;
                line-height: 150%;
                letter-spacing: 2px;
            }
        }
    }

    .h-d-pics {
        grid-area: pics;

        position: relative;
        width: 100%;
        height: 500px; // 可依設計稿調整

        @media ($mediaXl) {
            margin-left: -50px;
        }

        img {
            position: absolute;
            box-shadow: 6px 6px 4px 0 rgba(0, 0, 0, 0.25);
            object-fit: cover;

        }

        img:nth-child(1) {
            width: 197px;
            height: 225px;
            top: 0;
            left: 0;

            @media ($mediaXl) {
                display: none;

            }

        }

        img:nth-child(2) {
            width: 229px;
            height: 274px;
            top: 30px;
            left: 120px;
        }

        img:nth-child(3) {
            width: 226px;
            height: 320px;
            top: 80px;
            left: 285px;

            @media ($mediaLg) {
                left: 150px;
            }
        }

    }

    .h-d-side-word {
        position: absolute;
        left: 50px;
        top: 415px;
        writing-mode: vertical-rl;
        white-space: nowrap;

        color: $primary1;

        text-align: center;
        font-family: $en;
        font-size: $spacing-md;
        font-style: normal;
        font-weight: 300;
        line-height: 150%;
        letter-spacing: $spacing-xxs;
    }

    .h-d-boat {
        position: absolute;
        left: 150px;
        bottom: 0px;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-position: center;
        }
    }
}