@use 'reset';
@use 'var' as *;


// 共用區

.h-t-1 {
    color: $primary2;
    text-align: center;
    font-family: $en;
    font-size: 22px;
    font-style: normal;
    font-weight: $f-w-4;
    line-height: 150%;
    letter-spacing: $spacing-xxs;

}

.h-t-2 {
    color: $primary1;
    font-family: $family-tc;
    font-size: $f-s-xxl;
    font-style: normal;
    font-weight: $f-w-5;
    line-height: 150%;
    /* 54px */
    letter-spacing: $spacing-xs;
}

.home-all-spot {
    display: flex;
    padding: 5px 30px; //暫改
    justify-content: center;
    align-items: center;

    border-radius: 99px;
    background-color: $primary1;
}

// banner區
#homebanner {
    position: relative;
    width: 100%;
    height: 130vh;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:
        linear-gradient(180deg,
            rgba(65, 69, 61, 0) 75.48%,
            #41453D 100%),
        url("../../../public/img-Home/HomeBanner.jpg") center/cover no-repeat;
    // background-attachment: fixed; //固定背景

    .homeslogan {

        display: flex;
        width: 571px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-bottom: 100px;

        h2 {
            font-size: $f-s-xxl;
            color: $white;
            font-family: $family-tc;
            text-align: center;
            text-shadow: 0 0 20px rgba(0, 0, 0, 0.80);
            font-weight: 500;
            letter-spacing: $spacing-xs;
        }

        .home-b-form {
            display: flex;
            height: 43px;
            padding: 8px 24px;
            justify-content: space-between;
            align-items: center;
            align-self: stretch;

            border-radius: 999px;
            border: 1px solid $white;
            background: rgba(244, 241, 229, 0.50);
            color: $text;
            // 字體
            font-family: $en;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 5px;

            img {
                width: 24px;
                height: 24px;

            }
        }


    }

    .banner-side-word {
        position: absolute;
        left: 50px;
        top: 288px;
        writing-mode: vertical-rl;
        white-space: nowrap;

        color: $white;

        text-align: center;
        font-family: Inter;
        font-size: $spacing-md;
        font-style: normal;
        font-weight: 300;
        line-height: 150%;
        letter-spacing: $spacing-xxs;
    }

    .homescroll {
        display: flex;
        justify-content: center;
        width: 88px;
        flex-direction: column;
        align-items: center;
        position: absolute;
        bottom: 155px;
        width: 88px;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-position: center;
        }
    }

    .banner-line {
        position: absolute;
        top: 200px;
        right: 0;
        width: 1266.99px;
        height: 638.351px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-position: center;
        }
    }

    .homeboat-b {
        position: absolute;
        top: 185px;
        right: 68px;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-position: center;
        }
    }
}

// 地點區
#homelocation {

    width: 100%;
    height: 115vh;
    padding: 42px 50px 0 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $background1;
    overflow: visible;

    header {

        display: flex;
        flex-direction: column;


        .homenext {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            gap: 13px;
            margin-right: 100px;

        }

        .popularcity {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-left: 100px;
            margin-top: -30px;

            p {
                font-family: $family-en;
                font-size: 96px;
                font-style: normal;
                font-weight: $f-w-4;
                line-height: 100%;
                opacity: 0.6;
                background: linear-gradient(180deg, #F4D000 76.95%, rgba(244, 208, 0, 0.00) 113.51%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        figure {

            position: absolute;
            top: 80px;
            right: 152px;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-position: center;
            }
        }
    }

    .home-lo-boxs {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 80px 100px 0;
        gap: 30px; //暫改

        margin-top: -160px;



        .home-city-grid {
            width: 85%;
            //   margin: 0;                         
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 180px 153px 153px;
            grid-template-areas:
                "a a b"
                "c d b"
                "e f g";
            gap: 12px;
        }


        .home-city-grid>img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 12px;
            display: block;
            // position: center;
        }

        .home-city-grid>img:nth-child(1) {
            grid-area: a;
        }

        .home-city-grid>img:nth-child(2) {
            grid-area: b;
        }

        .home-city-grid>img:nth-child(3) {
            grid-area: c;
        }

        .home-city-grid>img:nth-child(4) {
            grid-area: d;
        }

        .home-city-grid>img:nth-child(5) {
            grid-area: e;
        }

        .home-city-grid>img:nth-child(6) {
            grid-area: f;
        }

        .home-city-grid>img:nth-child(7) {
            grid-area: g;
        }


        .home-all-spot {

            a {


                color: $white;
                font-family: $family-tc;
                font-size: $spacing-md;
                font-style: normal;
                font-weight: $f-w-4;
                line-height: 150%;
                letter-spacing: 2px;
            }
        }

    }

    .h-1-side-word-1 {
        position: absolute;
        right: 50px;
        top: 210px;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        white-space: nowrap;

        color: $primary1;

        text-align: center;
        font-family: "Inter";
        font-size: $spacing-md;
        font-style: normal;
        font-weight: 300;
        line-height: 150%;
        letter-spacing: $spacing-xxs;
    }

    .h-1-side-word-2 {
        position: absolute;
        left: 50px;
        bottom: 100px;
        writing-mode: vertical-rl;
        white-space: nowrap;

        color: $primary1;

        text-align: center;
         font-family: "Inter";
        font-size: $spacing-md;
        font-style: normal;
        font-weight: 300;
        line-height: 150%;
        letter-spacing: $spacing-xxs;
    }

    .h-location-line {
        position: absolute;
        top: 440px;
        left: 180px;
        display: block;

        img {
            width: 100%;
            height: 100%;
            object-position: center;
        }

    }
}

//揪團區
#homegroup {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 45px;
    background-color: $background1;
    overflow: visible;

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;

        span {
            border-bottom: 1px solid $primary1;
            padding-bottom: 8px;
        }

        .h-t-2 {
            color: $text;
        }

    }

    .h-l-text {


        ul {
            list-style: disc;
            gap: 15px;

            span {
                color: $text;
                display: flex;
                font-family: $family-tc;
                font-size: $f-s-md;
                font-style: normal;
                font-weight: $f-w-4;
                line-height: 150%;
                letter-spacing: 2px;

                img {
                    width: 24px;
                    height: 24px;

                }
            }

        }

        .home-all-spot {
            a {

                color: $white;
                font-family: $family-tc;
                font-size: $spacing-md;
                font-style: normal;
                font-weight: $f-w-4;
                line-height: 150%;
                letter-spacing: 2px;
            }
        }
    }

    .h-g-block1 {
        display: inline-flex;
        transform: rotate(-1.822deg);
        padding: 12px 40px;
        justify-content: center;
        align-items: center;
        gap: 10px;

        border-radius: 10px;
        background: $white;

        color: $primary1;
        font-family: "Noto Sans TC";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 2px;
    }

    .h-g-block2 {
        display: inline-flex;
        transform: rotate(1.951deg);
        padding: 12px 40px;
        justify-content: center;
        align-items: center;
        gap: 10px;

        border-radius: 10px;
        background-color: $accent;

        color: $text;
        font-family: "Noto Sans TC";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 2px;
    }

    .h-g-botton {
        // font-family: $family-en;
        font-size: 96px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;

        opacity: 0.6;
        background: linear-gradient(180deg, #F4D000 76.95%, rgba(244, 208, 0, 0.00) 113.51%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}