@use 'reset';
@use 'var' as *;


#homebanner {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:
        linear-gradient(180deg,
            rgba(65, 69, 61, 0) 75.48%,
            #41453D 100%),
        url("../../images/img-Home/HomeBanner.jpg") center/cover no-repeat;

    .homeslogan {

        display: flex;
        width: 571px;
        flex-direction: column;
        align-items: center;
        gap: 21px;

        h2 {
            font-size: $f-s-xxl;
            color: $white;
            font-family: $family-tc;
            text-align: center;
            text-shadow: 0 0 20px rgba(0, 0, 0, 0.80);
            font-weight: 500;
            letter-spacing: $spacing-xs;
        }

        .home-b-form {
            display: flex;
            height: 43px;
            padding: 8px 24px;
            justify-content: space-between;
            align-items: center;
            align-self: stretch;

            border-radius: 999px;
            border: 1px solid $white;
            background: rgba(244, 241, 229, 0.50);
            color: $text;
            // 字體
            // font-family: $en;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 5px;

            img {
                width: 24px;
                height: 24px;
            }
        }

    }

}