@use 'reset';
@use 'var' as *;

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 標題 */
#disDes {
    display: flex;
    width: 100%;
    padding: 120px 50px 60px 50px;
    justify-content: center;
    flex-direction: column;
    gap: 14px;

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 15px;

        .l-t-1 {
            color: $primary2;
            font-family: $en;
            font-size: $f-s-md2;
            font-style: normal;
            font-weight: $f-w-4;
            line-height: 150%;
            letter-spacing: 4.4px;

            span {
                border-bottom: 1px solid $primary1;
                padding-bottom: 8px;
            }
        }

        .l-t-2 {
            color: $text;
            font-family: $family-tc;
            font-size: $f-s-xxl;
            font-style: normal;
            font-weight: $f-w-5;
            line-height: 150%;
            letter-spacing: 10.8px;
        }
    }

    .theCity {
        color: $primary2;
        text-align: center;
        font-family: $family-tc;
        font-size: $f-s-xs;
        font-style: normal;
        font-weight: $f-w-4;
        line-height: 20px;
    }

    // div {
    //     width: 65px;
    // }
}

#allInfo {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 26px;

    // .pathArrow {
    //         display: flex;
    //         width: 150px;
    //         position: relative;
    //     }

    /* 地點照片 */
    .allPic {
        display: flex;
        width: 478px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .picXl {
            height: 532px;
            align-self: stretch;
            border-radius: 80px 0 0 0;
        }

        .detPic {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            align-self: stretch;

            img {
                width: 146px;
                height: 146px;
            }
        }
    }

    /* 全部內容 */
    .allContent {
        display: flex;
        width: 660px;
        flex-direction: column;
        gap: 24px;
        padding: 20px 28px 0px 28px;
        background-color: $white;

        /* 地點內容 */
        .locContent {
            display: flex;
            width: 604px;
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;
            border-bottom: 1px solid;
            padding-bottom: 30px;

            .locTitle {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                h2 {
                    color: $text;
                    font-family: $en;
                    font-size: $f-s-xl;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 3.6px;

                }

                img {
                    width: 62px;
                    height: 62px;
                }
            }



            .wifiStr {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 10px;
                align-self: stretch;

                ul {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    flex: 100;
                    width: auto;

                    img {
                        width: 20px;
                        height: 14px;
                    }

                    p {
                        color: $primary1;
                        font-family: $en;
                        font-size: $f-s-xs;
                        font-style: normal;
                        font-weight: $f-w-4;
                        line-height: normal;
                        letter-spacing: 1.6px;
                    }
                }

                .stars {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    align-self: stretch;

                    img {
                        align-self: stretch;
                        width: 20px;
                        height: 20px;
                    }
                }

                span {
                    color: $primary1;
                    font-family: $en;
                    font-size: $f-s-lg;
                    font-style: normal;
                    font-weight: $f-w-6;
                    line-height: normal;
                }
            }

            p {
                display: -webkit-box;
                width: 604px;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 7;

                overflow: hidden;
                color: $primary2;
                font-family: $en;
                font-size: $f-s-xs;
                font-style: normal;
                font-weight: $f-w-4;
                line-height: 20px;
            }
        }

        /* 評分 */
        .locScore {
            display: inline-flex;
            align-items: flex-start;
            gap: 26px;

            ul {
                display: flex;
                width: 300px;
                height: 250px;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 20px;

                li {
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    align-self: stretch;

                    p {
                        width: 110px;
                        height: 30px;

                        color: $primary1;
                        font-family: $family-tc;
                        font-size: $f-s-md;
                        font-style: normal;
                        font-weight: $f-w-4;
                        line-height: normal;
                        letter-spacing: 1.4px;
                    }

                    img {
                        width: 160px;
                        height: 22px;
                    }
                }
            }
        }

        /* 色塊 */
        .color-block {
            width: 660px;
            height: 8px;
            background-color: $accent;
            position: relative;
            left: -28px;
        }
    }
}

#moreDes {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 15px;
        padding: 100px 50px 50px 50px;

        .l-t-1 {
            color: $primary2;
            font-family: $en;
            font-size: $f-s-md2;
            font-style: normal;
            font-weight: $f-w-4;
            line-height: 150%;
            letter-spacing: 4.4px;

            span {
                border-bottom: 1px solid $primary1;
                padding-bottom: 8px;
            }
        }

        .l-t-2 {
            color: $text;
            font-family: $family-tc;
            font-size: $f-s-xxl;
            font-style: normal;
            font-weight: $f-w-5;
            line-height: 150%;
            letter-spacing: 10.8px;
        }
    }

    .moreCards {
        display: flex;
        align-items: center;
        gap: 28px;
        padding: 0px 50px 100px 50px;

        .cards {
            display: flex;
            align-items: center;
            gap: 28px;

            .country {
                background-color: $white;
                position: relative;

                &:hover {
                    box-shadow: 0 5px 20px rgba(0, 0, 0, .8);
                    transform: translateY(-8px) scale(1.02);
                    transition: all .2s 0s;

                    .color-block {
                        width: 270px;
                        height: 8px;
                        background-color: $accent;
                    }
                }

                .p1-sel {
                    display: flex;

                    .loc-p1 {
                        display: flex;
                        width: 270px;
                        height: 180px;
                    }

                    .select {
                        width: 34px;
                        height: 34px;
                        position: absolute;
                        top: 12px;
                        right: 12px;
                    }
                }

                .loc-info {
                    display: flex;
                    flex-direction: column;
                    padding: 20px;
                    gap: 10px;

                    h2 {
                        display: flex;
                        width: 230px;
                        color: $text;
                        font-family: Inter;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

                    .loc-text {
                        display: -webkit-box;
                        width: 230px;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;

                        overflow: hidden;
                        color: $primary2;
                        text-overflow: ellipsis;
                        font-family: $en;
                        font-size: $f-s-xs;
                        font-style: normal;
                        font-weight: $f-w-4;
                        line-height: 20px;
                    }

                    .wi-st {
                        display: flex;
                        width: 230px;
                        align-items: center;
                        gap: 3px;

                        border-bottom: 1px solid;
                        padding-bottom: 12px;

                        ul {
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            flex: 100;
                            width: auto;

                            img {
                                width: 20px;
                                height: 14px;
                            }

                            p {
                                color: $primary1;
                                font-family: $en;
                                font-size: $f-s-xs;
                                font-style: normal;
                                font-weight: $f-w-4;
                                line-height: normal;
                                letter-spacing: 1.6px;
                            }
                        }

                        .stars {
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            align-self: stretch;

                            img {
                                align-self: stretch;
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }

                    span {
                        display: flex;
                        width: 230px;
                        color: $primary1;
                        font-family: $en;
                        font-size: $f-s-md;
                        font-style: normal;
                        font-weight: $f-w-4;
                        line-height: normal;
                    }
                }

                .color-block {
                    width: 270px;
                    height: 8px;
                    background-color: $primary1;
                }
            }
        }

        .left,
        .right {
            width: 60px;
            height: 60px;
        }
    }
}