@use 'reset';
@use 'var' as *;

#log {

    margin-top: 100px;
    width: 526px;
    height: 500px;
    border-radius: 20px;
    background-color: $white;
    padding: 50px 65px 30px 65px;

    form {
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: flex-start;
        align-items: center;

        h1 {
            color: $text;

            text-align: center;
            font-family: $family-tc;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
        }

        article {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 40px;

            .log-f-box {
                display: flex;
                flex-direction: column;
                gap: 18px;
                justify-content: flex-start;
                align-items: center;

                .log-f-row {
                    display: flex;
                    height: 51px;
                    padding: 10px 30px;
                    justify-content: center;
                    align-items: center;
                    align-self: stretch;

                    border-radius: 999px;
                    background: rgba(0, 0, 0, 0.10);

                    label {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: $text;
                        font-family: $family-tc;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 100%;
                        border-right: 1px solid #BDBDBB;
                        padding-right: 20px;
                        height: 30px;
                    }

                    input {
                        margin-left: 10px;
                        border: none;
                        background-color: transparent;

                        color: $text;
                        font-family: $family-tc;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 100%;
                        ;
                    }
                }
            }

            button {
                // display: flex;
                // width: 170px;
                // height: 51px;
                // padding: 10px 14px;
                // justify-content: center;
                // align-items: center;

                // border-radius: 999px;
                // background: $accent;

                display: flex;
                padding: 5px 30px;
                justify-content: center;
                align-items: center;
                border-radius: 99px;
                background-color: $accent;
                border: none;

                
                color: $text;
                font-family: "Noto Sans TC";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                letter-spacing: 2px;
            }
        }
    }

    .log-buttom-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        margin-top: 38px;


        button {
            width: 120px;
            height: 51px;
            // display: flex;
            // align-items: center;
            // justify-content: center;
            // border-radius: 50px;
            // border: 1px solid rgba(76, 74, 74, 0.50);
            gap: 5px;

            color: #000;

            font-family: $en;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;

            line-height: 100%;


            display: flex;
            padding: 5px 30px;
            justify-content: center;
            align-items: center;
            border-radius: 99px;
            border: none;
            border: 1px solid rgba(76, 74, 74, 0.50);


            &:nth-of-type(1) img {
                width: 27px;
                height: 27px;
            }

            &:nth-of-type(2) img {
                width: 21px;
                height: 21px;

            }

            &:nth-of-type(3) img {
                width: 20px;
                height: 20px;
            }

        }

    }


    p {
        text-align: center;
        margin-top: 30px;
        color: $text;

        font-family: $family-tc;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;

        a {
            font-family: $family-tc;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
        }
    }
}