@use 'reset';
@use 'var' as *;


#member-information {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;

    background-color: $background1;
    padding-top: 166px;
    padding-left: 225px;

    gap: 185px;

    @media ($mediaXl) {
        // flex-direction: column;
        padding-top: 0px;
        padding-left: 50px;
        align-items: center;
        gap: 50px;
    }

    @media ($mediaSm) {
        padding-top: 150px;
        align-items: flex-start;
    }




    header {
        ul {
            display: flex;
            flex-direction: column;
            width: 145px;
            height: 304px;
            padding: 30px 10px;
            justify-content: space-between;
            align-items: center;
            border-radius: 20px;
            background: rgba(255, 255, 255, 0.50);

            li a {
                color: #C5C5C5;
                font-family: $family-tc;
                font-size: 18px;
                font-weight: 400;
                line-height: 150%;
                letter-spacing: 1.8px;
                border-bottom: 1px solid #C5C5C5;
                transition: all .25s ease;
            }

            &:not(:hover) li:first-child a {
                color: $text;
                border-bottom: 1px solid $text;
            }

            li:hover a {
                color: $text;
                border-bottom: 1px solid $text;
            }
        }
    }


    .m-all-box {

        .m-d-title {
            border-bottom: 1px dashed $text;
            margin-bottom: 32px;
            padding-bottom: 7px;

            margin-right: calc(50% - 50vw);

            p {
                color: $text;
                text-align: start;
                font-family: $en;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 130%;
                letter-spacing: 1.2px;
            }

        }

        article {

            display: flex;
            gap: 100px;

            @media ($mediaMd) {
                gap: 30px;
            }

            @media ($mediaSm) {
                flex-direction: column;
                gap: 50px;
            }

            .m-p-b {
                display: flex;
                flex-direction: column;
                gap: 22px;
                justify-content: flex-start;
                align-items: center;

                figure {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    width: 192px;
                    height: 248.14px;
                    background-color: $white;
                    padding: 10px 10px 50px 10px;
                    box-shadow: 6px 5px 10px 0 rgba(0, 0, 0, 0.25);

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }




                }

                div {
                    display: flex;
                    flex-direction: column;
                    gap: 14px;

                    button {

                        // border: none;
                        // display: flex;
                        // height: 29px;
                        // padding: 10px 14px;
                        // justify-content: center;
                        // align-items: center;
                        // align-self: stretch;
                        // border-radius: 999px;
                        background: $accent;

                        display: flex;
                        padding: 5px 30px;
                        justify-content: center;
                        align-items: center;
                        border-radius: 99px;
                        border: none;

                        &:nth-child(1) {
                            background: #E5E5E5;
                        }
                    }


                }


            }

        }

        #memberform {
            display: flex;
            flex-direction: column;
            gap: 30px;



            @media ($mediaSm) {
                gap: 15px;
            }


            .form-row {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 12px;

                label {
                    text-align: right;
                    white-space: nowrap;
                    display: flex;
                    justify-content: center;
                    align-items: center;


                    color: $text;
                    font-family: $family-tc;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    letter-spacing: 2px;

                }

                input {

                    flex: 1;
                    height: 32px;
                    border: none;
                    border-radius: 99px;
                    // text-align: end;
                    padding: 5px;



                    background: rgba(255, 255, 255, 0.80);

                }

                .m-sex-box {
                    display: flex;
                    gap: 3px;
                    justify-content: flex-end;
                    align-items: center;
                    margin: auto;

                    .m-sex-choice1 {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                    }

                }




            }



        }


    }


}