@use 'reset';
@use 'var' as *;

#topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  display: grid;
  grid-template-columns: 220px 1fr 180px;
  align-items: center;
  padding: 0 50px;
  z-index: 999;

  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
  border: 2px solid var(--alpha-w-40);
  backdrop-filter: blur(20px);
  box-shadow: 2px 2px 5px var(--alpha-b-20), inset -1px -1px 1px var(--alpha-w-40);

  .logo {
    display: flex;
    align-items: center;
  }


  .navmenu {
    display: flex;
    justify-content: center;
    gap: 120px;
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      color: #201811;
    }
  }


  .navlogs {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      color: #201811;
    }

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4px 24px;
      border-radius: 999px;
    }

    .navlog {
      border: 1px solid $text;
      color: $text;
    }

    .navsign {
      border: 1px solid $accent;
      background-color: $accent;
      color: #ffffff;
    }
  }


}