@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+TC:wght@100..900&display=swap");
/* 編碼一定要在第一行 */
@font-face {
  font-family: Nico Moji;
  src: url(../../assets/font/NicoMoji-Regular.ttf);
}
/* css reset */
* {
  box-sizing: border-box;
  /* 不累加內距及邊框 */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連接 */
a {
  color: ColorValues;
  text-decoration: none;
}

/* 重置按鈕 */
button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.diaAll {
  background-image: url("../img/diary-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

#diary-discover {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #F4F1E5;
  padding: 50px 50px 0 50px;
}
#diary-discover .d-t-title {
  display: flex;
  align-items: baseline;
  padding: 70px 0 0 16px;
  gap: 15px;
}
#diary-discover .title-large {
  color: #737B6B;
  font-family: "Inter";
  font-size: 36px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 4.4px;
}
#diary-discover .title-small {
  color: #737B6B;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 4.4px;
}
#diary-discover header {
  width: 100%;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 50px 50px 0 50px;
}

.diaDrop {
  flex: 0 0 180px;
  display: flex;
  max-width: 1440px;
  padding: 50px 1rem;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-direction: column;
}
.diaDrop ul {
  width: 100%;
  max-width: 140px;
  display: flex;
  padding: 4px 24px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex: 100;
  border-radius: 100px;
  background: #41453D;
}
.diaDrop ul li {
  display: flex;
  color: #F4F1E5;
  text-align: center;
  font-family: "Noto Sans TC";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 2px;
}
.diaDrop ul img {
  width: 15px;
  height: 15px;
}

.diaContent {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  padding-bottom: 2rem 3rem;
  padding: 20px 0 0 0;
}

#diary-article {
  flex: 1;
  padding: 2rem;
  max-width: 1007px;
  width: 100%;
}
#diary-article .diaPost {
  padding: 24px;
}
#diary-article .diaPost .d-member {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.8rem;
}
#diary-article .diaPost .d-member div {
  width: 30px;
  height: 30px;
  background-color: #333;
  border-radius: 50%;
}
#diary-article .diaPost .d-member p {
  font-size: 16px;
  color: #7A7872;
  width: 207px;
  border-bottom: 1px solid #333;
}
#diary-article .diaArticleSection1 {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  gap: 2rem;
  font-family: "Helvetica Neue", sans-serif;
  color: #333;
  border-bottom: 1px solid #333;
}
#diary-article .diaArticleSection1 .p1-sel {
  order: 2;
}
#diary-article .diaArticleSection1 .p1-sel .dia-p1 {
  width: 274px;
  height: 223px;
  border-top-right-radius: 60px;
  overflow: hidden;
}
#diary-article .diaArticleSection1 .p1-sel .dia-p1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
#diary-article .diaArticleSection1 .diaArticle1 {
  flex: 1;
  display: flex;
  flex-direction: column;
}
#diary-article .diaArticleSection1 .diaArticle1 .d-member {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.8rem;
}
#diary-article .diaArticleSection1 .diaArticle1 .d-member div {
  width: 30px;
  height: 30px;
  background-color: #333;
  border-radius: 50%;
}
#diary-article .diaArticleSection1 .diaArticle1 .d-member p {
  font-weight: 600;
  font-size: 16px;
}
#diary-article .diaArticleSection1 .diaArticle1 .d-text-card {
  display: flex;
  flex-direction: column;
}
#diary-article .diaArticleSection1 .diaArticle1 .d-text-card .d-text .d-tit {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0.8rem;
}
#diary-article .diaArticleSection1 .diaArticle1 .d-text-card .d-text .d-word {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 0.8rem;
}
#diary-article .diaArticleSection1 .diaArticle1 .d-text-card .d-sign {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  font-size: 0.8rem;
  color: #999;
}
#diary-article .diaArticleSection1 .diaArticle1 .d-text-card .d-sign .d-locaion {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
#diary-article .diaArticleSection1 .diaArticle1 .d-text-card .d-sign .d-locaion img {
  width: 25px;
  height: 25px;
}
#diary-article .diaArticleSection1 .diaArticle1 .d-text-card .d-sign .h-d-loc {
  background-color: #fff;
  border-radius: 12px;
  padding: 1.5px 12px;
  color: #aaa;
  font-size: 0.8rem;
}
#diary-article .diaArticleSection1 .diaArticle1 .d-text-card .d-sign .h-d-date {
  background-color: #fff;
  border-radius: 12px;
  padding: 1.5px 9px;
  color: #aaa;
  font-size: 0.8rem;
}
#diary-article .diaArticleSection1 .diaArticle1 .d-text-card .d-sign figure {
  margin: 0;
  cursor: pointer;
}
#diary-article .diaArticleSection1 .diaArticle1 .d-text-card .d-sign figure img {
  width: 20px;
  height: 20px;
  transition: transform 0.2s;
}
#diary-article .diaArticleSection1 .diaArticle1 .d-text-card .d-sign figure img:hover {
  transform: scale(1.1);
}