@charset "UTF-8";
/* 編碼一定要在第一行 */
/* css reset */
* {
  box-sizing: border-box;
  /* 不累加內距及邊框 */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連接 */
a {
  color: ColorValues;
  text-decoration: none;
}

#homebanner {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, rgba(65, 69, 61, 0) 75.48%, #41453D 100%), url("../../images/img-Home/HomeBanner.jpg") center/cover no-repeat;
}
#homebanner .homeslogan {
  display: flex;
  width: 571px;
  flex-direction: column;
  align-items: center;
  gap: 21px;
}
#homebanner .homeslogan h2 {
  font-size: 36px;
  color: #fff;
  font-family: "Noto Sans TC";
  text-align: center;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  font-weight: 500;
  letter-spacing: 10px;
}
#homebanner .homeslogan .home-b-form {
  display: flex;
  height: 43px;
  padding: 8px 24px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 999px;
  border: 1px solid #fff;
  background: rgba(244, 241, 229, 0.5);
  color: #201811;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 5px;
}
#homebanner .homeslogan .home-b-form img {
  width: 24px;
  height: 24px;
}