@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+TC:wght@100..900&display=swap");
/* 編碼一定要在第一行 */
@font-face {
  font-family: Nico Moji;
  src: url(../../assets/font/NicoMoji-Regular.ttf);
}
/* css reset */
* {
  box-sizing: border-box;
  /* 不累加內距及邊框 */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連接 */
a {
  color: ColorValues;
  text-decoration: none;
}

/* 重置按鈕 */
button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

#locBanner {
  display: flex;
  width: 100%;
  height: 120vh;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: url("../../../public/img-Location/locBanner2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #F4F1E5;
}
#locBanner .locSlogan {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  position: absolute;
  top: 180px;
}
#locBanner .locSlogan .locTitle {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 10px;
}
#locBanner .locSlogan .locTitle .l-t-1 {
  color: #201811;
  text-align: center;
  font-family: "Inter";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 5px;
}
#locBanner .locSlogan .locTitle .l-t-2 {
  color: #201811;
  text-align: center;
  font-family: "Noto Sans TC";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 10px;
}
#locBanner .locSlogan .locScroll img {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 16px;
  animation: floatIcon 2s ease-in-out infinite;
}
#locBanner .locBanner-side-word {
  position: absolute;
  left: 50px;
  top: 136px;
  writing-mode: vertical-rl;
  white-space: nowrap;
  color: #fff;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 5px;
}
#locBanner .bPath {
  display: flex;
  position: absolute;
  bottom: 80px;
  width: 100%;
}
#locBanner .hotLoc {
  display: flex;
  align-items: center;
  gap: 80px;
  position: absolute;
  bottom: 0;
}
#locBanner .hotLoc .hotCard-1,
#locBanner .hotLoc .hotCard-2,
#locBanner .hotLoc .hotCard-3,
#locBanner .hotLoc .hotCard-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}
#locBanner .hotLoc .hotCard-1 .hot-1,
#locBanner .hotLoc .hotCard-1 .hot-2,
#locBanner .hotLoc .hotCard-1 .hot-3,
#locBanner .hotLoc .hotCard-1 .hot-4,
#locBanner .hotLoc .hotCard-2 .hot-1,
#locBanner .hotLoc .hotCard-2 .hot-2,
#locBanner .hotLoc .hotCard-2 .hot-3,
#locBanner .hotLoc .hotCard-2 .hot-4,
#locBanner .hotLoc .hotCard-3 .hot-1,
#locBanner .hotLoc .hotCard-3 .hot-2,
#locBanner .hotLoc .hotCard-3 .hot-3,
#locBanner .hotLoc .hotCard-3 .hot-4,
#locBanner .hotLoc .hotCard-4 .hot-1,
#locBanner .hotLoc .hotCard-4 .hot-2,
#locBanner .hotLoc .hotCard-4 .hot-3,
#locBanner .hotLoc .hotCard-4 .hot-4 {
  display: flex;
  padding: 4px 16px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex: 100;
  border-radius: 100px;
  background: #FFF;
}
#locBanner .hotLoc .hotCard-1 .hot-1 img,
#locBanner .hotLoc .hotCard-1 .hot-2 img,
#locBanner .hotLoc .hotCard-1 .hot-3 img,
#locBanner .hotLoc .hotCard-1 .hot-4 img,
#locBanner .hotLoc .hotCard-2 .hot-1 img,
#locBanner .hotLoc .hotCard-2 .hot-2 img,
#locBanner .hotLoc .hotCard-2 .hot-3 img,
#locBanner .hotLoc .hotCard-2 .hot-4 img,
#locBanner .hotLoc .hotCard-3 .hot-1 img,
#locBanner .hotLoc .hotCard-3 .hot-2 img,
#locBanner .hotLoc .hotCard-3 .hot-3 img,
#locBanner .hotLoc .hotCard-3 .hot-4 img,
#locBanner .hotLoc .hotCard-4 .hot-1 img,
#locBanner .hotLoc .hotCard-4 .hot-2 img,
#locBanner .hotLoc .hotCard-4 .hot-3 img,
#locBanner .hotLoc .hotCard-4 .hot-4 img {
  width: 16px;
  height: 20px;
}
#locBanner .hotLoc .hotCard-1 .hot-1 li,
#locBanner .hotLoc .hotCard-1 .hot-2 li,
#locBanner .hotLoc .hotCard-1 .hot-3 li,
#locBanner .hotLoc .hotCard-1 .hot-4 li,
#locBanner .hotLoc .hotCard-2 .hot-1 li,
#locBanner .hotLoc .hotCard-2 .hot-2 li,
#locBanner .hotLoc .hotCard-2 .hot-3 li,
#locBanner .hotLoc .hotCard-2 .hot-4 li,
#locBanner .hotLoc .hotCard-3 .hot-1 li,
#locBanner .hotLoc .hotCard-3 .hot-2 li,
#locBanner .hotLoc .hotCard-3 .hot-3 li,
#locBanner .hotLoc .hotCard-3 .hot-4 li,
#locBanner .hotLoc .hotCard-4 .hot-1 li,
#locBanner .hotLoc .hotCard-4 .hot-2 li,
#locBanner .hotLoc .hotCard-4 .hot-3 li,
#locBanner .hotLoc .hotCard-4 .hot-4 li {
  color: #41453D;
  text-align: center;
  font-family: "Noto Sans TC";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 2px;
}
#locBanner .hotLoc .hotCard-1 .h-l-1,
#locBanner .hotLoc .hotCard-2 .h-l-1,
#locBanner .hotLoc .hotCard-3 .h-l-1,
#locBanner .hotLoc .hotCard-4 .h-l-1 {
  display: flex;
  height: 340px;
  transform: rotate(3.741deg);
  aspect-ratio: 11/15;
  margin-bottom: -140px;
  border-radius: 5px;
  border: 5px solid #FFF;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.35);
}
#locBanner .hotLoc .hotCard-1 .h-l-1:hover,
#locBanner .hotLoc .hotCard-2 .h-l-1:hover,
#locBanner .hotLoc .hotCard-3 .h-l-1:hover,
#locBanner .hotLoc .hotCard-4 .h-l-1:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
  transform: translateY(-8px) scale(1.02);
  transition: all 0.2s 0s;
}
#locBanner .hotLoc .hotCard-1 .h-l-2,
#locBanner .hotLoc .hotCard-2 .h-l-2,
#locBanner .hotLoc .hotCard-3 .h-l-2,
#locBanner .hotLoc .hotCard-4 .h-l-2 {
  display: flex;
  height: 340px;
  transform: rotate(-6.03deg);
  aspect-ratio: 11/15;
  margin-bottom: 120px;
  border-radius: 5px;
  border: 5px solid #FFF;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.35);
}
#locBanner .hotLoc .hotCard-1 .h-l-2:hover,
#locBanner .hotLoc .hotCard-2 .h-l-2:hover,
#locBanner .hotLoc .hotCard-3 .h-l-2:hover,
#locBanner .hotLoc .hotCard-4 .h-l-2:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
  transform: translateY(-8px) scale(1.02);
  transition: all 0.2s 0s;
}
#locBanner .hotLoc .hotCard-1 .h-l-3,
#locBanner .hotLoc .hotCard-2 .h-l-3,
#locBanner .hotLoc .hotCard-3 .h-l-3,
#locBanner .hotLoc .hotCard-4 .h-l-3 {
  display: flex;
  height: 340px;
  transform: rotate(4.568deg);
  aspect-ratio: 11/15;
  margin-bottom: -290px;
  border-radius: 5px;
  border: 5px solid #FFF;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.35);
}
#locBanner .hotLoc .hotCard-1 .h-l-3:hover,
#locBanner .hotLoc .hotCard-2 .h-l-3:hover,
#locBanner .hotLoc .hotCard-3 .h-l-3:hover,
#locBanner .hotLoc .hotCard-4 .h-l-3:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
  transform: translateY(-8px) scale(1.02);
  transition: all 0.2s 0s;
}
#locBanner .hotLoc .hotCard-1 .h-l-4,
#locBanner .hotLoc .hotCard-2 .h-l-4,
#locBanner .hotLoc .hotCard-3 .h-l-4,
#locBanner .hotLoc .hotCard-4 .h-l-4 {
  display: flex;
  height: 340px;
  transform: rotate(-5.724deg);
  aspect-ratio: 11/15;
  margin-bottom: -120px;
  border-radius: 5px;
  border: 5px solid #FFF;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.35);
}
#locBanner .hotLoc .hotCard-1 .h-l-4:hover,
#locBanner .hotLoc .hotCard-2 .h-l-4:hover,
#locBanner .hotLoc .hotCard-3 .h-l-4:hover,
#locBanner .hotLoc .hotCard-4 .h-l-4:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
  transform: translateY(-8px) scale(1.02);
  transition: all 0.2s 0s;
}

#discover {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #F4F1E5;
  padding: 220px 50px 0px 50px;
}
#discover header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
#discover header .l-t-1 {
  color: #737B6B;
  font-family: "Inter";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 4.4px;
}
#discover header .l-t-1 span {
  border-bottom: 1px solid #41453D;
  padding-bottom: 8px;
}
#discover header .l-t-2 {
  color: #201811;
  font-family: "Noto Sans TC";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 10.8px;
}
#discover .locDrop {
  display: flex;
  width: 100%;
  padding: 50px 150px 24px 150px;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
#discover .locDrop ul {
  display: flex;
  padding: 5px 30px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex: 100;
  border-radius: 99px;
  background: #41453D;
}
#discover .locDrop ul:hover {
  background: #F4D000;
}
#discover .locDrop ul li {
  color: #fff;
  text-align: center;
  font-family: "Noto Sans TC";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 2px;
}
#discover .locDrop ul img {
  width: 12px;
  height: 9px;
}

#globalAsia,
#globalEurope,
#globalNA,
#globalLA,
#globalAfrica,
#globalOceania {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #F4F1E5;
  padding: 80px 100px;
  position: relative;
}
#globalAsia .asia,
#globalAsia .europe,
#globalAsia .northA,
#globalAsia .latinA,
#globalAsia .africa,
#globalAsia .oceania,
#globalEurope .asia,
#globalEurope .europe,
#globalEurope .northA,
#globalEurope .latinA,
#globalEurope .africa,
#globalEurope .oceania,
#globalNA .asia,
#globalNA .europe,
#globalNA .northA,
#globalNA .latinA,
#globalNA .africa,
#globalNA .oceania,
#globalLA .asia,
#globalLA .europe,
#globalLA .northA,
#globalLA .latinA,
#globalLA .africa,
#globalLA .oceania,
#globalAfrica .asia,
#globalAfrica .europe,
#globalAfrica .northA,
#globalAfrica .latinA,
#globalAfrica .africa,
#globalAfrica .oceania,
#globalOceania .asia,
#globalOceania .europe,
#globalOceania .northA,
#globalOceania .latinA,
#globalOceania .africa,
#globalOceania .oceania {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}
#globalAsia .asia img,
#globalAsia .europe img,
#globalAsia .northA img,
#globalAsia .latinA img,
#globalAsia .africa img,
#globalAsia .oceania img,
#globalEurope .asia img,
#globalEurope .europe img,
#globalEurope .northA img,
#globalEurope .latinA img,
#globalEurope .africa img,
#globalEurope .oceania img,
#globalNA .asia img,
#globalNA .europe img,
#globalNA .northA img,
#globalNA .latinA img,
#globalNA .africa img,
#globalNA .oceania img,
#globalLA .asia img,
#globalLA .europe img,
#globalLA .northA img,
#globalLA .latinA img,
#globalLA .africa img,
#globalLA .oceania img,
#globalAfrica .asia img,
#globalAfrica .europe img,
#globalAfrica .northA img,
#globalAfrica .latinA img,
#globalAfrica .africa img,
#globalAfrica .oceania img,
#globalOceania .asia img,
#globalOceania .europe img,
#globalOceania .northA img,
#globalOceania .latinA img,
#globalOceania .africa img,
#globalOceania .oceania img {
  height: 520px;
}
#globalAsia .asia h2,
#globalAsia .europe h2,
#globalAsia .northA h2,
#globalAsia .latinA h2,
#globalAsia .africa h2,
#globalAsia .oceania h2,
#globalEurope .asia h2,
#globalEurope .europe h2,
#globalEurope .northA h2,
#globalEurope .latinA h2,
#globalEurope .africa h2,
#globalEurope .oceania h2,
#globalNA .asia h2,
#globalNA .europe h2,
#globalNA .northA h2,
#globalNA .latinA h2,
#globalNA .africa h2,
#globalNA .oceania h2,
#globalLA .asia h2,
#globalLA .europe h2,
#globalLA .northA h2,
#globalLA .latinA h2,
#globalLA .africa h2,
#globalLA .oceania h2,
#globalAfrica .asia h2,
#globalAfrica .europe h2,
#globalAfrica .northA h2,
#globalAfrica .latinA h2,
#globalAfrica .africa h2,
#globalAfrica .oceania h2,
#globalOceania .asia h2,
#globalOceania .europe h2,
#globalOceania .northA h2,
#globalOceania .latinA h2,
#globalOceania .africa h2,
#globalOceania .oceania h2 {
  color: #fff;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Noto Sans TC";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 14.4px;
  position: absolute;
  left: 50px;
}
#globalAsia .asiaCard,
#globalAsia .europeCard,
#globalAsia .northACard,
#globalAsia .latinACard,
#globalAsia .africaCard,
#globalAsia .oceaniaCard,
#globalEurope .asiaCard,
#globalEurope .europeCard,
#globalEurope .northACard,
#globalEurope .latinACard,
#globalEurope .africaCard,
#globalEurope .oceaniaCard,
#globalNA .asiaCard,
#globalNA .europeCard,
#globalNA .northACard,
#globalNA .latinACard,
#globalNA .africaCard,
#globalNA .oceaniaCard,
#globalLA .asiaCard,
#globalLA .europeCard,
#globalLA .northACard,
#globalLA .latinACard,
#globalLA .africaCard,
#globalLA .oceaniaCard,
#globalAfrica .asiaCard,
#globalAfrica .europeCard,
#globalAfrica .northACard,
#globalAfrica .latinACard,
#globalAfrica .africaCard,
#globalAfrica .oceaniaCard,
#globalOceania .asiaCard,
#globalOceania .europeCard,
#globalOceania .northACard,
#globalOceania .latinACard,
#globalOceania .africaCard,
#globalOceania .oceaniaCard {
  display: flex;
  align-items: center;
  gap: 32px;
  z-index: 1;
  margin-left: -40px;
}
#globalAsia .asiaCard .country,
#globalAsia .europeCard .country,
#globalAsia .northACard .country,
#globalAsia .latinACard .country,
#globalAsia .africaCard .country,
#globalAsia .oceaniaCard .country,
#globalEurope .asiaCard .country,
#globalEurope .europeCard .country,
#globalEurope .northACard .country,
#globalEurope .latinACard .country,
#globalEurope .africaCard .country,
#globalEurope .oceaniaCard .country,
#globalNA .asiaCard .country,
#globalNA .europeCard .country,
#globalNA .northACard .country,
#globalNA .latinACard .country,
#globalNA .africaCard .country,
#globalNA .oceaniaCard .country,
#globalLA .asiaCard .country,
#globalLA .europeCard .country,
#globalLA .northACard .country,
#globalLA .latinACard .country,
#globalLA .africaCard .country,
#globalLA .oceaniaCard .country,
#globalAfrica .asiaCard .country,
#globalAfrica .europeCard .country,
#globalAfrica .northACard .country,
#globalAfrica .latinACard .country,
#globalAfrica .africaCard .country,
#globalAfrica .oceaniaCard .country,
#globalOceania .asiaCard .country,
#globalOceania .europeCard .country,
#globalOceania .northACard .country,
#globalOceania .latinACard .country,
#globalOceania .africaCard .country,
#globalOceania .oceaniaCard .country {
  background-color: #fff;
  position: relative;
}
#globalAsia .asiaCard .country:hover,
#globalAsia .europeCard .country:hover,
#globalAsia .northACard .country:hover,
#globalAsia .latinACard .country:hover,
#globalAsia .africaCard .country:hover,
#globalAsia .oceaniaCard .country:hover,
#globalEurope .asiaCard .country:hover,
#globalEurope .europeCard .country:hover,
#globalEurope .northACard .country:hover,
#globalEurope .latinACard .country:hover,
#globalEurope .africaCard .country:hover,
#globalEurope .oceaniaCard .country:hover,
#globalNA .asiaCard .country:hover,
#globalNA .europeCard .country:hover,
#globalNA .northACard .country:hover,
#globalNA .latinACard .country:hover,
#globalNA .africaCard .country:hover,
#globalNA .oceaniaCard .country:hover,
#globalLA .asiaCard .country:hover,
#globalLA .europeCard .country:hover,
#globalLA .northACard .country:hover,
#globalLA .latinACard .country:hover,
#globalLA .africaCard .country:hover,
#globalLA .oceaniaCard .country:hover,
#globalAfrica .asiaCard .country:hover,
#globalAfrica .europeCard .country:hover,
#globalAfrica .northACard .country:hover,
#globalAfrica .latinACard .country:hover,
#globalAfrica .africaCard .country:hover,
#globalAfrica .oceaniaCard .country:hover,
#globalOceania .asiaCard .country:hover,
#globalOceania .europeCard .country:hover,
#globalOceania .northACard .country:hover,
#globalOceania .latinACard .country:hover,
#globalOceania .africaCard .country:hover,
#globalOceania .oceaniaCard .country:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
  transform: translateY(-8px) scale(1.02);
  transition: all 0.2s 0s;
}
#globalAsia .asiaCard .country:hover .color-block,
#globalAsia .europeCard .country:hover .color-block,
#globalAsia .northACard .country:hover .color-block,
#globalAsia .latinACard .country:hover .color-block,
#globalAsia .africaCard .country:hover .color-block,
#globalAsia .oceaniaCard .country:hover .color-block,
#globalEurope .asiaCard .country:hover .color-block,
#globalEurope .europeCard .country:hover .color-block,
#globalEurope .northACard .country:hover .color-block,
#globalEurope .latinACard .country:hover .color-block,
#globalEurope .africaCard .country:hover .color-block,
#globalEurope .oceaniaCard .country:hover .color-block,
#globalNA .asiaCard .country:hover .color-block,
#globalNA .europeCard .country:hover .color-block,
#globalNA .northACard .country:hover .color-block,
#globalNA .latinACard .country:hover .color-block,
#globalNA .africaCard .country:hover .color-block,
#globalNA .oceaniaCard .country:hover .color-block,
#globalLA .asiaCard .country:hover .color-block,
#globalLA .europeCard .country:hover .color-block,
#globalLA .northACard .country:hover .color-block,
#globalLA .latinACard .country:hover .color-block,
#globalLA .africaCard .country:hover .color-block,
#globalLA .oceaniaCard .country:hover .color-block,
#globalAfrica .asiaCard .country:hover .color-block,
#globalAfrica .europeCard .country:hover .color-block,
#globalAfrica .northACard .country:hover .color-block,
#globalAfrica .latinACard .country:hover .color-block,
#globalAfrica .africaCard .country:hover .color-block,
#globalAfrica .oceaniaCard .country:hover .color-block,
#globalOceania .asiaCard .country:hover .color-block,
#globalOceania .europeCard .country:hover .color-block,
#globalOceania .northACard .country:hover .color-block,
#globalOceania .latinACard .country:hover .color-block,
#globalOceania .africaCard .country:hover .color-block,
#globalOceania .oceaniaCard .country:hover .color-block {
  width: 270px;
  height: 8px;
  background-color: #F4D000;
}
#globalAsia .asiaCard .country .p1-sel,
#globalAsia .europeCard .country .p1-sel,
#globalAsia .northACard .country .p1-sel,
#globalAsia .latinACard .country .p1-sel,
#globalAsia .africaCard .country .p1-sel,
#globalAsia .oceaniaCard .country .p1-sel,
#globalEurope .asiaCard .country .p1-sel,
#globalEurope .europeCard .country .p1-sel,
#globalEurope .northACard .country .p1-sel,
#globalEurope .latinACard .country .p1-sel,
#globalEurope .africaCard .country .p1-sel,
#globalEurope .oceaniaCard .country .p1-sel,
#globalNA .asiaCard .country .p1-sel,
#globalNA .europeCard .country .p1-sel,
#globalNA .northACard .country .p1-sel,
#globalNA .latinACard .country .p1-sel,
#globalNA .africaCard .country .p1-sel,
#globalNA .oceaniaCard .country .p1-sel,
#globalLA .asiaCard .country .p1-sel,
#globalLA .europeCard .country .p1-sel,
#globalLA .northACard .country .p1-sel,
#globalLA .latinACard .country .p1-sel,
#globalLA .africaCard .country .p1-sel,
#globalLA .oceaniaCard .country .p1-sel,
#globalAfrica .asiaCard .country .p1-sel,
#globalAfrica .europeCard .country .p1-sel,
#globalAfrica .northACard .country .p1-sel,
#globalAfrica .latinACard .country .p1-sel,
#globalAfrica .africaCard .country .p1-sel,
#globalAfrica .oceaniaCard .country .p1-sel,
#globalOceania .asiaCard .country .p1-sel,
#globalOceania .europeCard .country .p1-sel,
#globalOceania .northACard .country .p1-sel,
#globalOceania .latinACard .country .p1-sel,
#globalOceania .africaCard .country .p1-sel,
#globalOceania .oceaniaCard .country .p1-sel {
  display: flex;
}
#globalAsia .asiaCard .country .p1-sel .loc-p1,
#globalAsia .europeCard .country .p1-sel .loc-p1,
#globalAsia .northACard .country .p1-sel .loc-p1,
#globalAsia .latinACard .country .p1-sel .loc-p1,
#globalAsia .africaCard .country .p1-sel .loc-p1,
#globalAsia .oceaniaCard .country .p1-sel .loc-p1,
#globalEurope .asiaCard .country .p1-sel .loc-p1,
#globalEurope .europeCard .country .p1-sel .loc-p1,
#globalEurope .northACard .country .p1-sel .loc-p1,
#globalEurope .latinACard .country .p1-sel .loc-p1,
#globalEurope .africaCard .country .p1-sel .loc-p1,
#globalEurope .oceaniaCard .country .p1-sel .loc-p1,
#globalNA .asiaCard .country .p1-sel .loc-p1,
#globalNA .europeCard .country .p1-sel .loc-p1,
#globalNA .northACard .country .p1-sel .loc-p1,
#globalNA .latinACard .country .p1-sel .loc-p1,
#globalNA .africaCard .country .p1-sel .loc-p1,
#globalNA .oceaniaCard .country .p1-sel .loc-p1,
#globalLA .asiaCard .country .p1-sel .loc-p1,
#globalLA .europeCard .country .p1-sel .loc-p1,
#globalLA .northACard .country .p1-sel .loc-p1,
#globalLA .latinACard .country .p1-sel .loc-p1,
#globalLA .africaCard .country .p1-sel .loc-p1,
#globalLA .oceaniaCard .country .p1-sel .loc-p1,
#globalAfrica .asiaCard .country .p1-sel .loc-p1,
#globalAfrica .europeCard .country .p1-sel .loc-p1,
#globalAfrica .northACard .country .p1-sel .loc-p1,
#globalAfrica .latinACard .country .p1-sel .loc-p1,
#globalAfrica .africaCard .country .p1-sel .loc-p1,
#globalAfrica .oceaniaCard .country .p1-sel .loc-p1,
#globalOceania .asiaCard .country .p1-sel .loc-p1,
#globalOceania .europeCard .country .p1-sel .loc-p1,
#globalOceania .northACard .country .p1-sel .loc-p1,
#globalOceania .latinACard .country .p1-sel .loc-p1,
#globalOceania .africaCard .country .p1-sel .loc-p1,
#globalOceania .oceaniaCard .country .p1-sel .loc-p1 {
  display: flex;
  width: 270px;
  height: 180px;
}
#globalAsia .asiaCard .country .p1-sel .select,
#globalAsia .europeCard .country .p1-sel .select,
#globalAsia .northACard .country .p1-sel .select,
#globalAsia .latinACard .country .p1-sel .select,
#globalAsia .africaCard .country .p1-sel .select,
#globalAsia .oceaniaCard .country .p1-sel .select,
#globalEurope .asiaCard .country .p1-sel .select,
#globalEurope .europeCard .country .p1-sel .select,
#globalEurope .northACard .country .p1-sel .select,
#globalEurope .latinACard .country .p1-sel .select,
#globalEurope .africaCard .country .p1-sel .select,
#globalEurope .oceaniaCard .country .p1-sel .select,
#globalNA .asiaCard .country .p1-sel .select,
#globalNA .europeCard .country .p1-sel .select,
#globalNA .northACard .country .p1-sel .select,
#globalNA .latinACard .country .p1-sel .select,
#globalNA .africaCard .country .p1-sel .select,
#globalNA .oceaniaCard .country .p1-sel .select,
#globalLA .asiaCard .country .p1-sel .select,
#globalLA .europeCard .country .p1-sel .select,
#globalLA .northACard .country .p1-sel .select,
#globalLA .latinACard .country .p1-sel .select,
#globalLA .africaCard .country .p1-sel .select,
#globalLA .oceaniaCard .country .p1-sel .select,
#globalAfrica .asiaCard .country .p1-sel .select,
#globalAfrica .europeCard .country .p1-sel .select,
#globalAfrica .northACard .country .p1-sel .select,
#globalAfrica .latinACard .country .p1-sel .select,
#globalAfrica .africaCard .country .p1-sel .select,
#globalAfrica .oceaniaCard .country .p1-sel .select,
#globalOceania .asiaCard .country .p1-sel .select,
#globalOceania .europeCard .country .p1-sel .select,
#globalOceania .northACard .country .p1-sel .select,
#globalOceania .latinACard .country .p1-sel .select,
#globalOceania .africaCard .country .p1-sel .select,
#globalOceania .oceaniaCard .country .p1-sel .select {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 12px;
  right: 12px;
}
#globalAsia .asiaCard .country .loc-info,
#globalAsia .europeCard .country .loc-info,
#globalAsia .northACard .country .loc-info,
#globalAsia .latinACard .country .loc-info,
#globalAsia .africaCard .country .loc-info,
#globalAsia .oceaniaCard .country .loc-info,
#globalEurope .asiaCard .country .loc-info,
#globalEurope .europeCard .country .loc-info,
#globalEurope .northACard .country .loc-info,
#globalEurope .latinACard .country .loc-info,
#globalEurope .africaCard .country .loc-info,
#globalEurope .oceaniaCard .country .loc-info,
#globalNA .asiaCard .country .loc-info,
#globalNA .europeCard .country .loc-info,
#globalNA .northACard .country .loc-info,
#globalNA .latinACard .country .loc-info,
#globalNA .africaCard .country .loc-info,
#globalNA .oceaniaCard .country .loc-info,
#globalLA .asiaCard .country .loc-info,
#globalLA .europeCard .country .loc-info,
#globalLA .northACard .country .loc-info,
#globalLA .latinACard .country .loc-info,
#globalLA .africaCard .country .loc-info,
#globalLA .oceaniaCard .country .loc-info,
#globalAfrica .asiaCard .country .loc-info,
#globalAfrica .europeCard .country .loc-info,
#globalAfrica .northACard .country .loc-info,
#globalAfrica .latinACard .country .loc-info,
#globalAfrica .africaCard .country .loc-info,
#globalAfrica .oceaniaCard .country .loc-info,
#globalOceania .asiaCard .country .loc-info,
#globalOceania .europeCard .country .loc-info,
#globalOceania .northACard .country .loc-info,
#globalOceania .latinACard .country .loc-info,
#globalOceania .africaCard .country .loc-info,
#globalOceania .oceaniaCard .country .loc-info {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}
#globalAsia .asiaCard .country .loc-info h2,
#globalAsia .europeCard .country .loc-info h2,
#globalAsia .northACard .country .loc-info h2,
#globalAsia .latinACard .country .loc-info h2,
#globalAsia .africaCard .country .loc-info h2,
#globalAsia .oceaniaCard .country .loc-info h2,
#globalEurope .asiaCard .country .loc-info h2,
#globalEurope .europeCard .country .loc-info h2,
#globalEurope .northACard .country .loc-info h2,
#globalEurope .latinACard .country .loc-info h2,
#globalEurope .africaCard .country .loc-info h2,
#globalEurope .oceaniaCard .country .loc-info h2,
#globalNA .asiaCard .country .loc-info h2,
#globalNA .europeCard .country .loc-info h2,
#globalNA .northACard .country .loc-info h2,
#globalNA .latinACard .country .loc-info h2,
#globalNA .africaCard .country .loc-info h2,
#globalNA .oceaniaCard .country .loc-info h2,
#globalLA .asiaCard .country .loc-info h2,
#globalLA .europeCard .country .loc-info h2,
#globalLA .northACard .country .loc-info h2,
#globalLA .latinACard .country .loc-info h2,
#globalLA .africaCard .country .loc-info h2,
#globalLA .oceaniaCard .country .loc-info h2,
#globalAfrica .asiaCard .country .loc-info h2,
#globalAfrica .europeCard .country .loc-info h2,
#globalAfrica .northACard .country .loc-info h2,
#globalAfrica .latinACard .country .loc-info h2,
#globalAfrica .africaCard .country .loc-info h2,
#globalAfrica .oceaniaCard .country .loc-info h2,
#globalOceania .asiaCard .country .loc-info h2,
#globalOceania .europeCard .country .loc-info h2,
#globalOceania .northACard .country .loc-info h2,
#globalOceania .latinACard .country .loc-info h2,
#globalOceania .africaCard .country .loc-info h2,
#globalOceania .oceaniaCard .country .loc-info h2 {
  display: flex;
  width: 230px;
  color: #201811;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#globalAsia .asiaCard .country .loc-info .loc-text,
#globalAsia .europeCard .country .loc-info .loc-text,
#globalAsia .northACard .country .loc-info .loc-text,
#globalAsia .latinACard .country .loc-info .loc-text,
#globalAsia .africaCard .country .loc-info .loc-text,
#globalAsia .oceaniaCard .country .loc-info .loc-text,
#globalEurope .asiaCard .country .loc-info .loc-text,
#globalEurope .europeCard .country .loc-info .loc-text,
#globalEurope .northACard .country .loc-info .loc-text,
#globalEurope .latinACard .country .loc-info .loc-text,
#globalEurope .africaCard .country .loc-info .loc-text,
#globalEurope .oceaniaCard .country .loc-info .loc-text,
#globalNA .asiaCard .country .loc-info .loc-text,
#globalNA .europeCard .country .loc-info .loc-text,
#globalNA .northACard .country .loc-info .loc-text,
#globalNA .latinACard .country .loc-info .loc-text,
#globalNA .africaCard .country .loc-info .loc-text,
#globalNA .oceaniaCard .country .loc-info .loc-text,
#globalLA .asiaCard .country .loc-info .loc-text,
#globalLA .europeCard .country .loc-info .loc-text,
#globalLA .northACard .country .loc-info .loc-text,
#globalLA .latinACard .country .loc-info .loc-text,
#globalLA .africaCard .country .loc-info .loc-text,
#globalLA .oceaniaCard .country .loc-info .loc-text,
#globalAfrica .asiaCard .country .loc-info .loc-text,
#globalAfrica .europeCard .country .loc-info .loc-text,
#globalAfrica .northACard .country .loc-info .loc-text,
#globalAfrica .latinACard .country .loc-info .loc-text,
#globalAfrica .africaCard .country .loc-info .loc-text,
#globalAfrica .oceaniaCard .country .loc-info .loc-text,
#globalOceania .asiaCard .country .loc-info .loc-text,
#globalOceania .europeCard .country .loc-info .loc-text,
#globalOceania .northACard .country .loc-info .loc-text,
#globalOceania .latinACard .country .loc-info .loc-text,
#globalOceania .africaCard .country .loc-info .loc-text,
#globalOceania .oceaniaCard .country .loc-info .loc-text {
  display: -webkit-box;
  width: 230px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  color: #737B6B;
  text-overflow: ellipsis;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
#globalAsia .asiaCard .country .loc-info .wi-st,
#globalAsia .europeCard .country .loc-info .wi-st,
#globalAsia .northACard .country .loc-info .wi-st,
#globalAsia .latinACard .country .loc-info .wi-st,
#globalAsia .africaCard .country .loc-info .wi-st,
#globalAsia .oceaniaCard .country .loc-info .wi-st,
#globalEurope .asiaCard .country .loc-info .wi-st,
#globalEurope .europeCard .country .loc-info .wi-st,
#globalEurope .northACard .country .loc-info .wi-st,
#globalEurope .latinACard .country .loc-info .wi-st,
#globalEurope .africaCard .country .loc-info .wi-st,
#globalEurope .oceaniaCard .country .loc-info .wi-st,
#globalNA .asiaCard .country .loc-info .wi-st,
#globalNA .europeCard .country .loc-info .wi-st,
#globalNA .northACard .country .loc-info .wi-st,
#globalNA .latinACard .country .loc-info .wi-st,
#globalNA .africaCard .country .loc-info .wi-st,
#globalNA .oceaniaCard .country .loc-info .wi-st,
#globalLA .asiaCard .country .loc-info .wi-st,
#globalLA .europeCard .country .loc-info .wi-st,
#globalLA .northACard .country .loc-info .wi-st,
#globalLA .latinACard .country .loc-info .wi-st,
#globalLA .africaCard .country .loc-info .wi-st,
#globalLA .oceaniaCard .country .loc-info .wi-st,
#globalAfrica .asiaCard .country .loc-info .wi-st,
#globalAfrica .europeCard .country .loc-info .wi-st,
#globalAfrica .northACard .country .loc-info .wi-st,
#globalAfrica .latinACard .country .loc-info .wi-st,
#globalAfrica .africaCard .country .loc-info .wi-st,
#globalAfrica .oceaniaCard .country .loc-info .wi-st,
#globalOceania .asiaCard .country .loc-info .wi-st,
#globalOceania .europeCard .country .loc-info .wi-st,
#globalOceania .northACard .country .loc-info .wi-st,
#globalOceania .latinACard .country .loc-info .wi-st,
#globalOceania .africaCard .country .loc-info .wi-st,
#globalOceania .oceaniaCard .country .loc-info .wi-st {
  display: flex;
  width: 230px;
  align-items: center;
  gap: 3px;
  border-bottom: 1px solid;
  padding-bottom: 12px;
}
#globalAsia .asiaCard .country .loc-info .wi-st ul,
#globalAsia .europeCard .country .loc-info .wi-st ul,
#globalAsia .northACard .country .loc-info .wi-st ul,
#globalAsia .latinACard .country .loc-info .wi-st ul,
#globalAsia .africaCard .country .loc-info .wi-st ul,
#globalAsia .oceaniaCard .country .loc-info .wi-st ul,
#globalEurope .asiaCard .country .loc-info .wi-st ul,
#globalEurope .europeCard .country .loc-info .wi-st ul,
#globalEurope .northACard .country .loc-info .wi-st ul,
#globalEurope .latinACard .country .loc-info .wi-st ul,
#globalEurope .africaCard .country .loc-info .wi-st ul,
#globalEurope .oceaniaCard .country .loc-info .wi-st ul,
#globalNA .asiaCard .country .loc-info .wi-st ul,
#globalNA .europeCard .country .loc-info .wi-st ul,
#globalNA .northACard .country .loc-info .wi-st ul,
#globalNA .latinACard .country .loc-info .wi-st ul,
#globalNA .africaCard .country .loc-info .wi-st ul,
#globalNA .oceaniaCard .country .loc-info .wi-st ul,
#globalLA .asiaCard .country .loc-info .wi-st ul,
#globalLA .europeCard .country .loc-info .wi-st ul,
#globalLA .northACard .country .loc-info .wi-st ul,
#globalLA .latinACard .country .loc-info .wi-st ul,
#globalLA .africaCard .country .loc-info .wi-st ul,
#globalLA .oceaniaCard .country .loc-info .wi-st ul,
#globalAfrica .asiaCard .country .loc-info .wi-st ul,
#globalAfrica .europeCard .country .loc-info .wi-st ul,
#globalAfrica .northACard .country .loc-info .wi-st ul,
#globalAfrica .latinACard .country .loc-info .wi-st ul,
#globalAfrica .africaCard .country .loc-info .wi-st ul,
#globalAfrica .oceaniaCard .country .loc-info .wi-st ul,
#globalOceania .asiaCard .country .loc-info .wi-st ul,
#globalOceania .europeCard .country .loc-info .wi-st ul,
#globalOceania .northACard .country .loc-info .wi-st ul,
#globalOceania .latinACard .country .loc-info .wi-st ul,
#globalOceania .africaCard .country .loc-info .wi-st ul,
#globalOceania .oceaniaCard .country .loc-info .wi-st ul {
  display: flex;
  align-items: center;
  gap: 5px;
  flex: 100;
  width: auto;
}
#globalAsia .asiaCard .country .loc-info .wi-st ul img,
#globalAsia .europeCard .country .loc-info .wi-st ul img,
#globalAsia .northACard .country .loc-info .wi-st ul img,
#globalAsia .latinACard .country .loc-info .wi-st ul img,
#globalAsia .africaCard .country .loc-info .wi-st ul img,
#globalAsia .oceaniaCard .country .loc-info .wi-st ul img,
#globalEurope .asiaCard .country .loc-info .wi-st ul img,
#globalEurope .europeCard .country .loc-info .wi-st ul img,
#globalEurope .northACard .country .loc-info .wi-st ul img,
#globalEurope .latinACard .country .loc-info .wi-st ul img,
#globalEurope .africaCard .country .loc-info .wi-st ul img,
#globalEurope .oceaniaCard .country .loc-info .wi-st ul img,
#globalNA .asiaCard .country .loc-info .wi-st ul img,
#globalNA .europeCard .country .loc-info .wi-st ul img,
#globalNA .northACard .country .loc-info .wi-st ul img,
#globalNA .latinACard .country .loc-info .wi-st ul img,
#globalNA .africaCard .country .loc-info .wi-st ul img,
#globalNA .oceaniaCard .country .loc-info .wi-st ul img,
#globalLA .asiaCard .country .loc-info .wi-st ul img,
#globalLA .europeCard .country .loc-info .wi-st ul img,
#globalLA .northACard .country .loc-info .wi-st ul img,
#globalLA .latinACard .country .loc-info .wi-st ul img,
#globalLA .africaCard .country .loc-info .wi-st ul img,
#globalLA .oceaniaCard .country .loc-info .wi-st ul img,
#globalAfrica .asiaCard .country .loc-info .wi-st ul img,
#globalAfrica .europeCard .country .loc-info .wi-st ul img,
#globalAfrica .northACard .country .loc-info .wi-st ul img,
#globalAfrica .latinACard .country .loc-info .wi-st ul img,
#globalAfrica .africaCard .country .loc-info .wi-st ul img,
#globalAfrica .oceaniaCard .country .loc-info .wi-st ul img,
#globalOceania .asiaCard .country .loc-info .wi-st ul img,
#globalOceania .europeCard .country .loc-info .wi-st ul img,
#globalOceania .northACard .country .loc-info .wi-st ul img,
#globalOceania .latinACard .country .loc-info .wi-st ul img,
#globalOceania .africaCard .country .loc-info .wi-st ul img,
#globalOceania .oceaniaCard .country .loc-info .wi-st ul img {
  width: 20px;
  height: 14px;
}
#globalAsia .asiaCard .country .loc-info .wi-st ul p,
#globalAsia .europeCard .country .loc-info .wi-st ul p,
#globalAsia .northACard .country .loc-info .wi-st ul p,
#globalAsia .latinACard .country .loc-info .wi-st ul p,
#globalAsia .africaCard .country .loc-info .wi-st ul p,
#globalAsia .oceaniaCard .country .loc-info .wi-st ul p,
#globalEurope .asiaCard .country .loc-info .wi-st ul p,
#globalEurope .europeCard .country .loc-info .wi-st ul p,
#globalEurope .northACard .country .loc-info .wi-st ul p,
#globalEurope .latinACard .country .loc-info .wi-st ul p,
#globalEurope .africaCard .country .loc-info .wi-st ul p,
#globalEurope .oceaniaCard .country .loc-info .wi-st ul p,
#globalNA .asiaCard .country .loc-info .wi-st ul p,
#globalNA .europeCard .country .loc-info .wi-st ul p,
#globalNA .northACard .country .loc-info .wi-st ul p,
#globalNA .latinACard .country .loc-info .wi-st ul p,
#globalNA .africaCard .country .loc-info .wi-st ul p,
#globalNA .oceaniaCard .country .loc-info .wi-st ul p,
#globalLA .asiaCard .country .loc-info .wi-st ul p,
#globalLA .europeCard .country .loc-info .wi-st ul p,
#globalLA .northACard .country .loc-info .wi-st ul p,
#globalLA .latinACard .country .loc-info .wi-st ul p,
#globalLA .africaCard .country .loc-info .wi-st ul p,
#globalLA .oceaniaCard .country .loc-info .wi-st ul p,
#globalAfrica .asiaCard .country .loc-info .wi-st ul p,
#globalAfrica .europeCard .country .loc-info .wi-st ul p,
#globalAfrica .northACard .country .loc-info .wi-st ul p,
#globalAfrica .latinACard .country .loc-info .wi-st ul p,
#globalAfrica .africaCard .country .loc-info .wi-st ul p,
#globalAfrica .oceaniaCard .country .loc-info .wi-st ul p,
#globalOceania .asiaCard .country .loc-info .wi-st ul p,
#globalOceania .europeCard .country .loc-info .wi-st ul p,
#globalOceania .northACard .country .loc-info .wi-st ul p,
#globalOceania .latinACard .country .loc-info .wi-st ul p,
#globalOceania .africaCard .country .loc-info .wi-st ul p,
#globalOceania .oceaniaCard .country .loc-info .wi-st ul p {
  color: #41453D;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;
}
#globalAsia .asiaCard .country .loc-info .wi-st .stars,
#globalAsia .europeCard .country .loc-info .wi-st .stars,
#globalAsia .northACard .country .loc-info .wi-st .stars,
#globalAsia .latinACard .country .loc-info .wi-st .stars,
#globalAsia .africaCard .country .loc-info .wi-st .stars,
#globalAsia .oceaniaCard .country .loc-info .wi-st .stars,
#globalEurope .asiaCard .country .loc-info .wi-st .stars,
#globalEurope .europeCard .country .loc-info .wi-st .stars,
#globalEurope .northACard .country .loc-info .wi-st .stars,
#globalEurope .latinACard .country .loc-info .wi-st .stars,
#globalEurope .africaCard .country .loc-info .wi-st .stars,
#globalEurope .oceaniaCard .country .loc-info .wi-st .stars,
#globalNA .asiaCard .country .loc-info .wi-st .stars,
#globalNA .europeCard .country .loc-info .wi-st .stars,
#globalNA .northACard .country .loc-info .wi-st .stars,
#globalNA .latinACard .country .loc-info .wi-st .stars,
#globalNA .africaCard .country .loc-info .wi-st .stars,
#globalNA .oceaniaCard .country .loc-info .wi-st .stars,
#globalLA .asiaCard .country .loc-info .wi-st .stars,
#globalLA .europeCard .country .loc-info .wi-st .stars,
#globalLA .northACard .country .loc-info .wi-st .stars,
#globalLA .latinACard .country .loc-info .wi-st .stars,
#globalLA .africaCard .country .loc-info .wi-st .stars,
#globalLA .oceaniaCard .country .loc-info .wi-st .stars,
#globalAfrica .asiaCard .country .loc-info .wi-st .stars,
#globalAfrica .europeCard .country .loc-info .wi-st .stars,
#globalAfrica .northACard .country .loc-info .wi-st .stars,
#globalAfrica .latinACard .country .loc-info .wi-st .stars,
#globalAfrica .africaCard .country .loc-info .wi-st .stars,
#globalAfrica .oceaniaCard .country .loc-info .wi-st .stars,
#globalOceania .asiaCard .country .loc-info .wi-st .stars,
#globalOceania .europeCard .country .loc-info .wi-st .stars,
#globalOceania .northACard .country .loc-info .wi-st .stars,
#globalOceania .latinACard .country .loc-info .wi-st .stars,
#globalOceania .africaCard .country .loc-info .wi-st .stars,
#globalOceania .oceaniaCard .country .loc-info .wi-st .stars {
  display: flex;
  align-items: center;
  gap: 5px;
  align-self: stretch;
}
#globalAsia .asiaCard .country .loc-info .wi-st .stars img,
#globalAsia .europeCard .country .loc-info .wi-st .stars img,
#globalAsia .northACard .country .loc-info .wi-st .stars img,
#globalAsia .latinACard .country .loc-info .wi-st .stars img,
#globalAsia .africaCard .country .loc-info .wi-st .stars img,
#globalAsia .oceaniaCard .country .loc-info .wi-st .stars img,
#globalEurope .asiaCard .country .loc-info .wi-st .stars img,
#globalEurope .europeCard .country .loc-info .wi-st .stars img,
#globalEurope .northACard .country .loc-info .wi-st .stars img,
#globalEurope .latinACard .country .loc-info .wi-st .stars img,
#globalEurope .africaCard .country .loc-info .wi-st .stars img,
#globalEurope .oceaniaCard .country .loc-info .wi-st .stars img,
#globalNA .asiaCard .country .loc-info .wi-st .stars img,
#globalNA .europeCard .country .loc-info .wi-st .stars img,
#globalNA .northACard .country .loc-info .wi-st .stars img,
#globalNA .latinACard .country .loc-info .wi-st .stars img,
#globalNA .africaCard .country .loc-info .wi-st .stars img,
#globalNA .oceaniaCard .country .loc-info .wi-st .stars img,
#globalLA .asiaCard .country .loc-info .wi-st .stars img,
#globalLA .europeCard .country .loc-info .wi-st .stars img,
#globalLA .northACard .country .loc-info .wi-st .stars img,
#globalLA .latinACard .country .loc-info .wi-st .stars img,
#globalLA .africaCard .country .loc-info .wi-st .stars img,
#globalLA .oceaniaCard .country .loc-info .wi-st .stars img,
#globalAfrica .asiaCard .country .loc-info .wi-st .stars img,
#globalAfrica .europeCard .country .loc-info .wi-st .stars img,
#globalAfrica .northACard .country .loc-info .wi-st .stars img,
#globalAfrica .latinACard .country .loc-info .wi-st .stars img,
#globalAfrica .africaCard .country .loc-info .wi-st .stars img,
#globalAfrica .oceaniaCard .country .loc-info .wi-st .stars img,
#globalOceania .asiaCard .country .loc-info .wi-st .stars img,
#globalOceania .europeCard .country .loc-info .wi-st .stars img,
#globalOceania .northACard .country .loc-info .wi-st .stars img,
#globalOceania .latinACard .country .loc-info .wi-st .stars img,
#globalOceania .africaCard .country .loc-info .wi-st .stars img,
#globalOceania .oceaniaCard .country .loc-info .wi-st .stars img {
  align-self: stretch;
  width: 20px;
  height: 20px;
}
#globalAsia .asiaCard .country .loc-info span,
#globalAsia .europeCard .country .loc-info span,
#globalAsia .northACard .country .loc-info span,
#globalAsia .latinACard .country .loc-info span,
#globalAsia .africaCard .country .loc-info span,
#globalAsia .oceaniaCard .country .loc-info span,
#globalEurope .asiaCard .country .loc-info span,
#globalEurope .europeCard .country .loc-info span,
#globalEurope .northACard .country .loc-info span,
#globalEurope .latinACard .country .loc-info span,
#globalEurope .africaCard .country .loc-info span,
#globalEurope .oceaniaCard .country .loc-info span,
#globalNA .asiaCard .country .loc-info span,
#globalNA .europeCard .country .loc-info span,
#globalNA .northACard .country .loc-info span,
#globalNA .latinACard .country .loc-info span,
#globalNA .africaCard .country .loc-info span,
#globalNA .oceaniaCard .country .loc-info span,
#globalLA .asiaCard .country .loc-info span,
#globalLA .europeCard .country .loc-info span,
#globalLA .northACard .country .loc-info span,
#globalLA .latinACard .country .loc-info span,
#globalLA .africaCard .country .loc-info span,
#globalLA .oceaniaCard .country .loc-info span,
#globalAfrica .asiaCard .country .loc-info span,
#globalAfrica .europeCard .country .loc-info span,
#globalAfrica .northACard .country .loc-info span,
#globalAfrica .latinACard .country .loc-info span,
#globalAfrica .africaCard .country .loc-info span,
#globalAfrica .oceaniaCard .country .loc-info span,
#globalOceania .asiaCard .country .loc-info span,
#globalOceania .europeCard .country .loc-info span,
#globalOceania .northACard .country .loc-info span,
#globalOceania .latinACard .country .loc-info span,
#globalOceania .africaCard .country .loc-info span,
#globalOceania .oceaniaCard .country .loc-info span {
  display: flex;
  width: 230px;
  color: #41453D;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#globalAsia .asiaCard .country .color-block,
#globalAsia .europeCard .country .color-block,
#globalAsia .northACard .country .color-block,
#globalAsia .latinACard .country .color-block,
#globalAsia .africaCard .country .color-block,
#globalAsia .oceaniaCard .country .color-block,
#globalEurope .asiaCard .country .color-block,
#globalEurope .europeCard .country .color-block,
#globalEurope .northACard .country .color-block,
#globalEurope .latinACard .country .color-block,
#globalEurope .africaCard .country .color-block,
#globalEurope .oceaniaCard .country .color-block,
#globalNA .asiaCard .country .color-block,
#globalNA .europeCard .country .color-block,
#globalNA .northACard .country .color-block,
#globalNA .latinACard .country .color-block,
#globalNA .africaCard .country .color-block,
#globalNA .oceaniaCard .country .color-block,
#globalLA .asiaCard .country .color-block,
#globalLA .europeCard .country .color-block,
#globalLA .northACard .country .color-block,
#globalLA .latinACard .country .color-block,
#globalLA .africaCard .country .color-block,
#globalLA .oceaniaCard .country .color-block,
#globalAfrica .asiaCard .country .color-block,
#globalAfrica .europeCard .country .color-block,
#globalAfrica .northACard .country .color-block,
#globalAfrica .latinACard .country .color-block,
#globalAfrica .africaCard .country .color-block,
#globalAfrica .oceaniaCard .country .color-block,
#globalOceania .asiaCard .country .color-block,
#globalOceania .europeCard .country .color-block,
#globalOceania .northACard .country .color-block,
#globalOceania .latinACard .country .color-block,
#globalOceania .africaCard .country .color-block,
#globalOceania .oceaniaCard .country .color-block {
  width: 270px;
  height: 8px;
  background-color: #41453D;
}
#globalAsia button,
#globalEurope button,
#globalNA button,
#globalLA button,
#globalAfrica button,
#globalOceania button {
  display: flex;
  height: 32px;
  padding: 10px 14px;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  right: 100px;
  bottom: 80px;
  color: #201811;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  border-radius: 999px;
  background: #F4D000;
  border: none;
}
#globalAsia button:hover,
#globalEurope button:hover,
#globalNA button:hover,
#globalLA button:hover,
#globalAfrica button:hover,
#globalOceania button:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.2s 0s;
}

/*  .expMore {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background1;
    padding: 10px 0 80px 0;

    .btn-expMore {
        display: flex;
        padding: 4px 24px;
        justify-content: center;
        align-items: center;
        width: 160px;

        font-family: $family-tc;
        font-size: $f-s-md;
        font-weight: $f-w-3;
        line-height: 150%;
        letter-spacing: 2px;

        color: $white;
        border: none;
        border-radius: 999px;
        background: $primary1;

        &:hover {
            background: $accent;
        }
    }
} */