@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+TC:wght@100..900&display=swap");
/* 編碼一定要在第一行 */
@font-face {
  font-family: Nico Moji;
  src: url(../../assets/font/NicoMoji-Regular.ttf);
}
/* css reset */
* {
  box-sizing: border-box;
  /* 不累加內距及邊框 */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連接 */
a {
  color: ColorValues;
  text-decoration: none;
}

#locBanner {
  display: flex;
  width: 100%;
  height: 926px;
  flex-direction: column;
  align-items: center;
  background: url("../../../public/img-Location/Banner.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #F4F1E5;
}
#locBanner .locSlogan {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: absolute;
  top: 180px;
}
#locBanner .locSlogan .locTitle {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 10px;
}
#locBanner .locSlogan .locTitle .l-t-1 {
  color: #fff;
  text-align: center;
  font-family: "Inter";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 5px;
}
#locBanner .locSlogan .locTitle .l-t-2 {
  color: #fff;
  text-align: center;
  font-family: "Noto Sans TC";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 10px;
}
#locBanner .locSlogan .locScroll img {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 16px;
}
#locBanner .locBanner-side-word {
  position: absolute;
  left: 50px;
  top: 134px;
  writing-mode: vertical-rl;
  white-space: nowrap;
  color: #fff;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 5px;
}

#discover {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: #F4F1E5;
  padding: 180px 50px 0 50px;
}
#discover header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
#discover header .l-t-1 {
  color: #737B6B;
  font-family: "Inter";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 4.4px;
}
#discover header .l-t-1 span {
  border-bottom: 1px solid #41453D;
  padding-bottom: 8px;
}
#discover header .l-t-2 {
  color: #201811;
  font-family: "Noto Sans TC";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 10.8px;
}
#discover .locDrop {
  display: flex;
  width: 1440px;
  padding: 50px 150px 24px 150px;
  justify-content: center;
  align-items: flex-end;
  gap: 24px;
}
#discover .locDrop ul {
  display: flex;
  padding: 4px 24px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex: 100;
  border-radius: 100px;
  background: #41453D;
}
#discover .locDrop ul li {
  color: #F4F1E5;
  text-align: center;
  font-family: "Noto Sans TC";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 2px;
}
#discover .locDrop ul img {
  width: 12px;
  height: 9px;
}

#globalAsia,
#globalEurope,
#globalNA {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #F4F1E5;
  padding: 80px 100px;
  position: relative;
}
#globalAsia .asia,
#globalAsia .europe,
#globalAsia .NorthA,
#globalEurope .asia,
#globalEurope .europe,
#globalEurope .NorthA,
#globalNA .asia,
#globalNA .europe,
#globalNA .NorthA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}
#globalAsia .asia img,
#globalAsia .europe img,
#globalAsia .NorthA img,
#globalEurope .asia img,
#globalEurope .europe img,
#globalEurope .NorthA img,
#globalNA .asia img,
#globalNA .europe img,
#globalNA .NorthA img {
  height: 520px;
}
#globalAsia .asia h2,
#globalAsia .europe h2,
#globalAsia .NorthA h2,
#globalEurope .asia h2,
#globalEurope .europe h2,
#globalEurope .NorthA h2,
#globalNA .asia h2,
#globalNA .europe h2,
#globalNA .NorthA h2 {
  color: #fff;
  font-family: "Noto Sans TC";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 14.4px;
  position: absolute;
  left: 50px;
}
#globalAsia .asiaCard,
#globalAsia .europeCard,
#globalAsia .NorthACard,
#globalEurope .asiaCard,
#globalEurope .europeCard,
#globalEurope .NorthACard,
#globalNA .asiaCard,
#globalNA .europeCard,
#globalNA .NorthACard {
  display: flex;
  align-items: center;
  gap: 32px;
}
#globalAsia .asiaCard .country1,
#globalAsia .asiaCard .country2,
#globalAsia .asiaCard .country3,
#globalAsia .europeCard .country1,
#globalAsia .europeCard .country2,
#globalAsia .europeCard .country3,
#globalAsia .NorthACard .country1,
#globalAsia .NorthACard .country2,
#globalAsia .NorthACard .country3,
#globalEurope .asiaCard .country1,
#globalEurope .asiaCard .country2,
#globalEurope .asiaCard .country3,
#globalEurope .europeCard .country1,
#globalEurope .europeCard .country2,
#globalEurope .europeCard .country3,
#globalEurope .NorthACard .country1,
#globalEurope .NorthACard .country2,
#globalEurope .NorthACard .country3,
#globalNA .asiaCard .country1,
#globalNA .asiaCard .country2,
#globalNA .asiaCard .country3,
#globalNA .europeCard .country1,
#globalNA .europeCard .country2,
#globalNA .europeCard .country3,
#globalNA .NorthACard .country1,
#globalNA .NorthACard .country2,
#globalNA .NorthACard .country3 {
  background-color: #fff;
  position: relative;
}
#globalAsia .asiaCard .country1 .p1-sel,
#globalAsia .asiaCard .country2 .p1-sel,
#globalAsia .asiaCard .country3 .p1-sel,
#globalAsia .europeCard .country1 .p1-sel,
#globalAsia .europeCard .country2 .p1-sel,
#globalAsia .europeCard .country3 .p1-sel,
#globalAsia .NorthACard .country1 .p1-sel,
#globalAsia .NorthACard .country2 .p1-sel,
#globalAsia .NorthACard .country3 .p1-sel,
#globalEurope .asiaCard .country1 .p1-sel,
#globalEurope .asiaCard .country2 .p1-sel,
#globalEurope .asiaCard .country3 .p1-sel,
#globalEurope .europeCard .country1 .p1-sel,
#globalEurope .europeCard .country2 .p1-sel,
#globalEurope .europeCard .country3 .p1-sel,
#globalEurope .NorthACard .country1 .p1-sel,
#globalEurope .NorthACard .country2 .p1-sel,
#globalEurope .NorthACard .country3 .p1-sel,
#globalNA .asiaCard .country1 .p1-sel,
#globalNA .asiaCard .country2 .p1-sel,
#globalNA .asiaCard .country3 .p1-sel,
#globalNA .europeCard .country1 .p1-sel,
#globalNA .europeCard .country2 .p1-sel,
#globalNA .europeCard .country3 .p1-sel,
#globalNA .NorthACard .country1 .p1-sel,
#globalNA .NorthACard .country2 .p1-sel,
#globalNA .NorthACard .country3 .p1-sel {
  display: flex;
}
#globalAsia .asiaCard .country1 .p1-sel .loc-p1,
#globalAsia .asiaCard .country2 .p1-sel .loc-p1,
#globalAsia .asiaCard .country3 .p1-sel .loc-p1,
#globalAsia .europeCard .country1 .p1-sel .loc-p1,
#globalAsia .europeCard .country2 .p1-sel .loc-p1,
#globalAsia .europeCard .country3 .p1-sel .loc-p1,
#globalAsia .NorthACard .country1 .p1-sel .loc-p1,
#globalAsia .NorthACard .country2 .p1-sel .loc-p1,
#globalAsia .NorthACard .country3 .p1-sel .loc-p1,
#globalEurope .asiaCard .country1 .p1-sel .loc-p1,
#globalEurope .asiaCard .country2 .p1-sel .loc-p1,
#globalEurope .asiaCard .country3 .p1-sel .loc-p1,
#globalEurope .europeCard .country1 .p1-sel .loc-p1,
#globalEurope .europeCard .country2 .p1-sel .loc-p1,
#globalEurope .europeCard .country3 .p1-sel .loc-p1,
#globalEurope .NorthACard .country1 .p1-sel .loc-p1,
#globalEurope .NorthACard .country2 .p1-sel .loc-p1,
#globalEurope .NorthACard .country3 .p1-sel .loc-p1,
#globalNA .asiaCard .country1 .p1-sel .loc-p1,
#globalNA .asiaCard .country2 .p1-sel .loc-p1,
#globalNA .asiaCard .country3 .p1-sel .loc-p1,
#globalNA .europeCard .country1 .p1-sel .loc-p1,
#globalNA .europeCard .country2 .p1-sel .loc-p1,
#globalNA .europeCard .country3 .p1-sel .loc-p1,
#globalNA .NorthACard .country1 .p1-sel .loc-p1,
#globalNA .NorthACard .country2 .p1-sel .loc-p1,
#globalNA .NorthACard .country3 .p1-sel .loc-p1 {
  display: flex;
  width: 270px;
  height: 180px;
}
#globalAsia .asiaCard .country1 .p1-sel .select,
#globalAsia .asiaCard .country2 .p1-sel .select,
#globalAsia .asiaCard .country3 .p1-sel .select,
#globalAsia .europeCard .country1 .p1-sel .select,
#globalAsia .europeCard .country2 .p1-sel .select,
#globalAsia .europeCard .country3 .p1-sel .select,
#globalAsia .NorthACard .country1 .p1-sel .select,
#globalAsia .NorthACard .country2 .p1-sel .select,
#globalAsia .NorthACard .country3 .p1-sel .select,
#globalEurope .asiaCard .country1 .p1-sel .select,
#globalEurope .asiaCard .country2 .p1-sel .select,
#globalEurope .asiaCard .country3 .p1-sel .select,
#globalEurope .europeCard .country1 .p1-sel .select,
#globalEurope .europeCard .country2 .p1-sel .select,
#globalEurope .europeCard .country3 .p1-sel .select,
#globalEurope .NorthACard .country1 .p1-sel .select,
#globalEurope .NorthACard .country2 .p1-sel .select,
#globalEurope .NorthACard .country3 .p1-sel .select,
#globalNA .asiaCard .country1 .p1-sel .select,
#globalNA .asiaCard .country2 .p1-sel .select,
#globalNA .asiaCard .country3 .p1-sel .select,
#globalNA .europeCard .country1 .p1-sel .select,
#globalNA .europeCard .country2 .p1-sel .select,
#globalNA .europeCard .country3 .p1-sel .select,
#globalNA .NorthACard .country1 .p1-sel .select,
#globalNA .NorthACard .country2 .p1-sel .select,
#globalNA .NorthACard .country3 .p1-sel .select {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 12px;
  right: 12px;
}
#globalAsia .asiaCard .country1 .loc-info,
#globalAsia .asiaCard .country2 .loc-info,
#globalAsia .asiaCard .country3 .loc-info,
#globalAsia .europeCard .country1 .loc-info,
#globalAsia .europeCard .country2 .loc-info,
#globalAsia .europeCard .country3 .loc-info,
#globalAsia .NorthACard .country1 .loc-info,
#globalAsia .NorthACard .country2 .loc-info,
#globalAsia .NorthACard .country3 .loc-info,
#globalEurope .asiaCard .country1 .loc-info,
#globalEurope .asiaCard .country2 .loc-info,
#globalEurope .asiaCard .country3 .loc-info,
#globalEurope .europeCard .country1 .loc-info,
#globalEurope .europeCard .country2 .loc-info,
#globalEurope .europeCard .country3 .loc-info,
#globalEurope .NorthACard .country1 .loc-info,
#globalEurope .NorthACard .country2 .loc-info,
#globalEurope .NorthACard .country3 .loc-info,
#globalNA .asiaCard .country1 .loc-info,
#globalNA .asiaCard .country2 .loc-info,
#globalNA .asiaCard .country3 .loc-info,
#globalNA .europeCard .country1 .loc-info,
#globalNA .europeCard .country2 .loc-info,
#globalNA .europeCard .country3 .loc-info,
#globalNA .NorthACard .country1 .loc-info,
#globalNA .NorthACard .country2 .loc-info,
#globalNA .NorthACard .country3 .loc-info {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}
#globalAsia .asiaCard .country1 .loc-info h2,
#globalAsia .asiaCard .country2 .loc-info h2,
#globalAsia .asiaCard .country3 .loc-info h2,
#globalAsia .europeCard .country1 .loc-info h2,
#globalAsia .europeCard .country2 .loc-info h2,
#globalAsia .europeCard .country3 .loc-info h2,
#globalAsia .NorthACard .country1 .loc-info h2,
#globalAsia .NorthACard .country2 .loc-info h2,
#globalAsia .NorthACard .country3 .loc-info h2,
#globalEurope .asiaCard .country1 .loc-info h2,
#globalEurope .asiaCard .country2 .loc-info h2,
#globalEurope .asiaCard .country3 .loc-info h2,
#globalEurope .europeCard .country1 .loc-info h2,
#globalEurope .europeCard .country2 .loc-info h2,
#globalEurope .europeCard .country3 .loc-info h2,
#globalEurope .NorthACard .country1 .loc-info h2,
#globalEurope .NorthACard .country2 .loc-info h2,
#globalEurope .NorthACard .country3 .loc-info h2,
#globalNA .asiaCard .country1 .loc-info h2,
#globalNA .asiaCard .country2 .loc-info h2,
#globalNA .asiaCard .country3 .loc-info h2,
#globalNA .europeCard .country1 .loc-info h2,
#globalNA .europeCard .country2 .loc-info h2,
#globalNA .europeCard .country3 .loc-info h2,
#globalNA .NorthACard .country1 .loc-info h2,
#globalNA .NorthACard .country2 .loc-info h2,
#globalNA .NorthACard .country3 .loc-info h2 {
  display: flex;
  width: 230px;
  color: #201811;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#globalAsia .asiaCard .country1 .loc-info .loc-text,
#globalAsia .asiaCard .country2 .loc-info .loc-text,
#globalAsia .asiaCard .country3 .loc-info .loc-text,
#globalAsia .europeCard .country1 .loc-info .loc-text,
#globalAsia .europeCard .country2 .loc-info .loc-text,
#globalAsia .europeCard .country3 .loc-info .loc-text,
#globalAsia .NorthACard .country1 .loc-info .loc-text,
#globalAsia .NorthACard .country2 .loc-info .loc-text,
#globalAsia .NorthACard .country3 .loc-info .loc-text,
#globalEurope .asiaCard .country1 .loc-info .loc-text,
#globalEurope .asiaCard .country2 .loc-info .loc-text,
#globalEurope .asiaCard .country3 .loc-info .loc-text,
#globalEurope .europeCard .country1 .loc-info .loc-text,
#globalEurope .europeCard .country2 .loc-info .loc-text,
#globalEurope .europeCard .country3 .loc-info .loc-text,
#globalEurope .NorthACard .country1 .loc-info .loc-text,
#globalEurope .NorthACard .country2 .loc-info .loc-text,
#globalEurope .NorthACard .country3 .loc-info .loc-text,
#globalNA .asiaCard .country1 .loc-info .loc-text,
#globalNA .asiaCard .country2 .loc-info .loc-text,
#globalNA .asiaCard .country3 .loc-info .loc-text,
#globalNA .europeCard .country1 .loc-info .loc-text,
#globalNA .europeCard .country2 .loc-info .loc-text,
#globalNA .europeCard .country3 .loc-info .loc-text,
#globalNA .NorthACard .country1 .loc-info .loc-text,
#globalNA .NorthACard .country2 .loc-info .loc-text,
#globalNA .NorthACard .country3 .loc-info .loc-text {
  display: -webkit-box;
  width: 230px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  color: #737B6B;
  text-overflow: ellipsis;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
#globalAsia .asiaCard .country1 .loc-info .wi-st,
#globalAsia .asiaCard .country2 .loc-info .wi-st,
#globalAsia .asiaCard .country3 .loc-info .wi-st,
#globalAsia .europeCard .country1 .loc-info .wi-st,
#globalAsia .europeCard .country2 .loc-info .wi-st,
#globalAsia .europeCard .country3 .loc-info .wi-st,
#globalAsia .NorthACard .country1 .loc-info .wi-st,
#globalAsia .NorthACard .country2 .loc-info .wi-st,
#globalAsia .NorthACard .country3 .loc-info .wi-st,
#globalEurope .asiaCard .country1 .loc-info .wi-st,
#globalEurope .asiaCard .country2 .loc-info .wi-st,
#globalEurope .asiaCard .country3 .loc-info .wi-st,
#globalEurope .europeCard .country1 .loc-info .wi-st,
#globalEurope .europeCard .country2 .loc-info .wi-st,
#globalEurope .europeCard .country3 .loc-info .wi-st,
#globalEurope .NorthACard .country1 .loc-info .wi-st,
#globalEurope .NorthACard .country2 .loc-info .wi-st,
#globalEurope .NorthACard .country3 .loc-info .wi-st,
#globalNA .asiaCard .country1 .loc-info .wi-st,
#globalNA .asiaCard .country2 .loc-info .wi-st,
#globalNA .asiaCard .country3 .loc-info .wi-st,
#globalNA .europeCard .country1 .loc-info .wi-st,
#globalNA .europeCard .country2 .loc-info .wi-st,
#globalNA .europeCard .country3 .loc-info .wi-st,
#globalNA .NorthACard .country1 .loc-info .wi-st,
#globalNA .NorthACard .country2 .loc-info .wi-st,
#globalNA .NorthACard .country3 .loc-info .wi-st {
  display: flex;
  width: 230px;
  align-items: center;
  gap: 3px;
  border-bottom: 1px solid;
  padding-bottom: 12px;
}
#globalAsia .asiaCard .country1 .loc-info .wi-st ul,
#globalAsia .asiaCard .country2 .loc-info .wi-st ul,
#globalAsia .asiaCard .country3 .loc-info .wi-st ul,
#globalAsia .europeCard .country1 .loc-info .wi-st ul,
#globalAsia .europeCard .country2 .loc-info .wi-st ul,
#globalAsia .europeCard .country3 .loc-info .wi-st ul,
#globalAsia .NorthACard .country1 .loc-info .wi-st ul,
#globalAsia .NorthACard .country2 .loc-info .wi-st ul,
#globalAsia .NorthACard .country3 .loc-info .wi-st ul,
#globalEurope .asiaCard .country1 .loc-info .wi-st ul,
#globalEurope .asiaCard .country2 .loc-info .wi-st ul,
#globalEurope .asiaCard .country3 .loc-info .wi-st ul,
#globalEurope .europeCard .country1 .loc-info .wi-st ul,
#globalEurope .europeCard .country2 .loc-info .wi-st ul,
#globalEurope .europeCard .country3 .loc-info .wi-st ul,
#globalEurope .NorthACard .country1 .loc-info .wi-st ul,
#globalEurope .NorthACard .country2 .loc-info .wi-st ul,
#globalEurope .NorthACard .country3 .loc-info .wi-st ul,
#globalNA .asiaCard .country1 .loc-info .wi-st ul,
#globalNA .asiaCard .country2 .loc-info .wi-st ul,
#globalNA .asiaCard .country3 .loc-info .wi-st ul,
#globalNA .europeCard .country1 .loc-info .wi-st ul,
#globalNA .europeCard .country2 .loc-info .wi-st ul,
#globalNA .europeCard .country3 .loc-info .wi-st ul,
#globalNA .NorthACard .country1 .loc-info .wi-st ul,
#globalNA .NorthACard .country2 .loc-info .wi-st ul,
#globalNA .NorthACard .country3 .loc-info .wi-st ul {
  display: flex;
  align-items: center;
  gap: 5px;
  flex: 100;
  width: auto;
}
#globalAsia .asiaCard .country1 .loc-info .wi-st ul img,
#globalAsia .asiaCard .country2 .loc-info .wi-st ul img,
#globalAsia .asiaCard .country3 .loc-info .wi-st ul img,
#globalAsia .europeCard .country1 .loc-info .wi-st ul img,
#globalAsia .europeCard .country2 .loc-info .wi-st ul img,
#globalAsia .europeCard .country3 .loc-info .wi-st ul img,
#globalAsia .NorthACard .country1 .loc-info .wi-st ul img,
#globalAsia .NorthACard .country2 .loc-info .wi-st ul img,
#globalAsia .NorthACard .country3 .loc-info .wi-st ul img,
#globalEurope .asiaCard .country1 .loc-info .wi-st ul img,
#globalEurope .asiaCard .country2 .loc-info .wi-st ul img,
#globalEurope .asiaCard .country3 .loc-info .wi-st ul img,
#globalEurope .europeCard .country1 .loc-info .wi-st ul img,
#globalEurope .europeCard .country2 .loc-info .wi-st ul img,
#globalEurope .europeCard .country3 .loc-info .wi-st ul img,
#globalEurope .NorthACard .country1 .loc-info .wi-st ul img,
#globalEurope .NorthACard .country2 .loc-info .wi-st ul img,
#globalEurope .NorthACard .country3 .loc-info .wi-st ul img,
#globalNA .asiaCard .country1 .loc-info .wi-st ul img,
#globalNA .asiaCard .country2 .loc-info .wi-st ul img,
#globalNA .asiaCard .country3 .loc-info .wi-st ul img,
#globalNA .europeCard .country1 .loc-info .wi-st ul img,
#globalNA .europeCard .country2 .loc-info .wi-st ul img,
#globalNA .europeCard .country3 .loc-info .wi-st ul img,
#globalNA .NorthACard .country1 .loc-info .wi-st ul img,
#globalNA .NorthACard .country2 .loc-info .wi-st ul img,
#globalNA .NorthACard .country3 .loc-info .wi-st ul img {
  width: 20px;
  height: 14px;
}
#globalAsia .asiaCard .country1 .loc-info .wi-st ul p,
#globalAsia .asiaCard .country2 .loc-info .wi-st ul p,
#globalAsia .asiaCard .country3 .loc-info .wi-st ul p,
#globalAsia .europeCard .country1 .loc-info .wi-st ul p,
#globalAsia .europeCard .country2 .loc-info .wi-st ul p,
#globalAsia .europeCard .country3 .loc-info .wi-st ul p,
#globalAsia .NorthACard .country1 .loc-info .wi-st ul p,
#globalAsia .NorthACard .country2 .loc-info .wi-st ul p,
#globalAsia .NorthACard .country3 .loc-info .wi-st ul p,
#globalEurope .asiaCard .country1 .loc-info .wi-st ul p,
#globalEurope .asiaCard .country2 .loc-info .wi-st ul p,
#globalEurope .asiaCard .country3 .loc-info .wi-st ul p,
#globalEurope .europeCard .country1 .loc-info .wi-st ul p,
#globalEurope .europeCard .country2 .loc-info .wi-st ul p,
#globalEurope .europeCard .country3 .loc-info .wi-st ul p,
#globalEurope .NorthACard .country1 .loc-info .wi-st ul p,
#globalEurope .NorthACard .country2 .loc-info .wi-st ul p,
#globalEurope .NorthACard .country3 .loc-info .wi-st ul p,
#globalNA .asiaCard .country1 .loc-info .wi-st ul p,
#globalNA .asiaCard .country2 .loc-info .wi-st ul p,
#globalNA .asiaCard .country3 .loc-info .wi-st ul p,
#globalNA .europeCard .country1 .loc-info .wi-st ul p,
#globalNA .europeCard .country2 .loc-info .wi-st ul p,
#globalNA .europeCard .country3 .loc-info .wi-st ul p,
#globalNA .NorthACard .country1 .loc-info .wi-st ul p,
#globalNA .NorthACard .country2 .loc-info .wi-st ul p,
#globalNA .NorthACard .country3 .loc-info .wi-st ul p {
  color: #41453D;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;
}
#globalAsia .asiaCard .country1 .loc-info .wi-st .stars,
#globalAsia .asiaCard .country2 .loc-info .wi-st .stars,
#globalAsia .asiaCard .country3 .loc-info .wi-st .stars,
#globalAsia .europeCard .country1 .loc-info .wi-st .stars,
#globalAsia .europeCard .country2 .loc-info .wi-st .stars,
#globalAsia .europeCard .country3 .loc-info .wi-st .stars,
#globalAsia .NorthACard .country1 .loc-info .wi-st .stars,
#globalAsia .NorthACard .country2 .loc-info .wi-st .stars,
#globalAsia .NorthACard .country3 .loc-info .wi-st .stars,
#globalEurope .asiaCard .country1 .loc-info .wi-st .stars,
#globalEurope .asiaCard .country2 .loc-info .wi-st .stars,
#globalEurope .asiaCard .country3 .loc-info .wi-st .stars,
#globalEurope .europeCard .country1 .loc-info .wi-st .stars,
#globalEurope .europeCard .country2 .loc-info .wi-st .stars,
#globalEurope .europeCard .country3 .loc-info .wi-st .stars,
#globalEurope .NorthACard .country1 .loc-info .wi-st .stars,
#globalEurope .NorthACard .country2 .loc-info .wi-st .stars,
#globalEurope .NorthACard .country3 .loc-info .wi-st .stars,
#globalNA .asiaCard .country1 .loc-info .wi-st .stars,
#globalNA .asiaCard .country2 .loc-info .wi-st .stars,
#globalNA .asiaCard .country3 .loc-info .wi-st .stars,
#globalNA .europeCard .country1 .loc-info .wi-st .stars,
#globalNA .europeCard .country2 .loc-info .wi-st .stars,
#globalNA .europeCard .country3 .loc-info .wi-st .stars,
#globalNA .NorthACard .country1 .loc-info .wi-st .stars,
#globalNA .NorthACard .country2 .loc-info .wi-st .stars,
#globalNA .NorthACard .country3 .loc-info .wi-st .stars {
  display: flex;
  align-items: center;
  gap: 5px;
  align-self: stretch;
}
#globalAsia .asiaCard .country1 .loc-info .wi-st .stars img,
#globalAsia .asiaCard .country2 .loc-info .wi-st .stars img,
#globalAsia .asiaCard .country3 .loc-info .wi-st .stars img,
#globalAsia .europeCard .country1 .loc-info .wi-st .stars img,
#globalAsia .europeCard .country2 .loc-info .wi-st .stars img,
#globalAsia .europeCard .country3 .loc-info .wi-st .stars img,
#globalAsia .NorthACard .country1 .loc-info .wi-st .stars img,
#globalAsia .NorthACard .country2 .loc-info .wi-st .stars img,
#globalAsia .NorthACard .country3 .loc-info .wi-st .stars img,
#globalEurope .asiaCard .country1 .loc-info .wi-st .stars img,
#globalEurope .asiaCard .country2 .loc-info .wi-st .stars img,
#globalEurope .asiaCard .country3 .loc-info .wi-st .stars img,
#globalEurope .europeCard .country1 .loc-info .wi-st .stars img,
#globalEurope .europeCard .country2 .loc-info .wi-st .stars img,
#globalEurope .europeCard .country3 .loc-info .wi-st .stars img,
#globalEurope .NorthACard .country1 .loc-info .wi-st .stars img,
#globalEurope .NorthACard .country2 .loc-info .wi-st .stars img,
#globalEurope .NorthACard .country3 .loc-info .wi-st .stars img,
#globalNA .asiaCard .country1 .loc-info .wi-st .stars img,
#globalNA .asiaCard .country2 .loc-info .wi-st .stars img,
#globalNA .asiaCard .country3 .loc-info .wi-st .stars img,
#globalNA .europeCard .country1 .loc-info .wi-st .stars img,
#globalNA .europeCard .country2 .loc-info .wi-st .stars img,
#globalNA .europeCard .country3 .loc-info .wi-st .stars img,
#globalNA .NorthACard .country1 .loc-info .wi-st .stars img,
#globalNA .NorthACard .country2 .loc-info .wi-st .stars img,
#globalNA .NorthACard .country3 .loc-info .wi-st .stars img {
  align-self: stretch;
  width: 20px;
  height: 20px;
}
#globalAsia .asiaCard .country1 .loc-info span,
#globalAsia .asiaCard .country2 .loc-info span,
#globalAsia .asiaCard .country3 .loc-info span,
#globalAsia .europeCard .country1 .loc-info span,
#globalAsia .europeCard .country2 .loc-info span,
#globalAsia .europeCard .country3 .loc-info span,
#globalAsia .NorthACard .country1 .loc-info span,
#globalAsia .NorthACard .country2 .loc-info span,
#globalAsia .NorthACard .country3 .loc-info span,
#globalEurope .asiaCard .country1 .loc-info span,
#globalEurope .asiaCard .country2 .loc-info span,
#globalEurope .asiaCard .country3 .loc-info span,
#globalEurope .europeCard .country1 .loc-info span,
#globalEurope .europeCard .country2 .loc-info span,
#globalEurope .europeCard .country3 .loc-info span,
#globalEurope .NorthACard .country1 .loc-info span,
#globalEurope .NorthACard .country2 .loc-info span,
#globalEurope .NorthACard .country3 .loc-info span,
#globalNA .asiaCard .country1 .loc-info span,
#globalNA .asiaCard .country2 .loc-info span,
#globalNA .asiaCard .country3 .loc-info span,
#globalNA .europeCard .country1 .loc-info span,
#globalNA .europeCard .country2 .loc-info span,
#globalNA .europeCard .country3 .loc-info span,
#globalNA .NorthACard .country1 .loc-info span,
#globalNA .NorthACard .country2 .loc-info span,
#globalNA .NorthACard .country3 .loc-info span {
  display: flex;
  width: 230px;
  color: #41453D;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#globalAsia .asiaCard .country1 .color-block,
#globalAsia .asiaCard .country2 .color-block,
#globalAsia .asiaCard .country3 .color-block,
#globalAsia .europeCard .country1 .color-block,
#globalAsia .europeCard .country2 .color-block,
#globalAsia .europeCard .country3 .color-block,
#globalAsia .NorthACard .country1 .color-block,
#globalAsia .NorthACard .country2 .color-block,
#globalAsia .NorthACard .country3 .color-block,
#globalEurope .asiaCard .country1 .color-block,
#globalEurope .asiaCard .country2 .color-block,
#globalEurope .asiaCard .country3 .color-block,
#globalEurope .europeCard .country1 .color-block,
#globalEurope .europeCard .country2 .color-block,
#globalEurope .europeCard .country3 .color-block,
#globalEurope .NorthACard .country1 .color-block,
#globalEurope .NorthACard .country2 .color-block,
#globalEurope .NorthACard .country3 .color-block,
#globalNA .asiaCard .country1 .color-block,
#globalNA .asiaCard .country2 .color-block,
#globalNA .asiaCard .country3 .color-block,
#globalNA .europeCard .country1 .color-block,
#globalNA .europeCard .country2 .color-block,
#globalNA .europeCard .country3 .color-block,
#globalNA .NorthACard .country1 .color-block,
#globalNA .NorthACard .country2 .color-block,
#globalNA .NorthACard .country3 .color-block {
  width: 270px;
  height: 8px;
  background-color: #F4D000;
}
#globalAsia il,
#globalEurope il,
#globalNA il {
  display: flex;
  height: 32px;
  padding: 10px 14px;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  right: 100px;
  bottom: 80px;
  color: #201811;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  border-radius: 999px;
  background: #F4D000;
  border: none;
}