@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+TC:wght@100..900&display=swap");
/* 編碼一定要在第一行 */
@font-face {
  font-family: Nico Moji;
  src: url(../../assets/font/NicoMoji-Regular.ttf);
}
/* css reset */
* {
  box-sizing: border-box;
  /* 不累加內距及邊框 */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連接 */
a {
  color: ColorValues;
  text-decoration: none;
}

#locBanner {
  display: flex;
  width: 100%;
  height: 926px;
  flex-direction: column;
  align-items: center;
  background: url("../../../public/img-Location/Banner.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #F4F1E5;
}
#locBanner .locSlogan {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: absolute;
  top: 180px;
}
#locBanner .locSlogan .locTitle {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 10px;
}
#locBanner .locSlogan .locTitle .l-t-1 {
  color: #fff;
  text-align: center;
  font-family: "Inter";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 5px;
}
#locBanner .locSlogan .locTitle .l-t-2 {
  color: #fff;
  text-align: center;
  font-family: "Noto Sans TC";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 10px;
}
#locBanner .locSlogan .locScroll img {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 16px;
}
#locBanner .locBanner-side-word {
  position: absolute;
  left: 50px;
  top: 134px;
  writing-mode: vertical-rl;
  white-space: nowrap;
  color: #fff;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 5px;
}

#discover {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: #F4F1E5;
  padding: 180px 50px 0 50px;
}
#discover header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
#discover header .l-t-1 {
  color: #737B6B;
  font-family: "Inter";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 4.4px;
}
#discover header .l-t-1 span {
  border-bottom: 1px solid #41453D;
  padding-bottom: 8px;
}
#discover header .l-t-2 {
  color: #201811;
  font-family: "Noto Sans TC";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 10.8px;
}
#discover .locDrop {
  display: flex;
  width: 1440px;
  padding: 50px 150px 24px 150px;
  justify-content: center;
  align-items: flex-end;
  gap: 24px;
}
#discover .locDrop ul {
  display: flex;
  padding: 4px 24px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex: 100;
  border-radius: 100px;
  background: #41453D;
}
#discover .locDrop ul li {
  color: #F4F1E5;
  text-align: center;
  font-family: "Noto Sans TC";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 2px;
}
#discover .locDrop ul img {
  width: 12px;
  height: 9px;
}

<<<<<<< HEAD
#globalAsia {
=======
#global {
>>>>>>> 110be3bca33ce904afb50f0cc593528216ba6aa3
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
  background-color: #F4F1E5;
  padding: 80px 100px;
}
#globalAsia .asia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}
#globalAsia .asia img {
  height: 520px;
}
#globalAsia .asia h2 {
=======
  gap: -46px;
  background-color: #F4F1E5;
  padding: 80px 50px 60px 50px;
}
#global .asia {
>>>>>>> 110be3bca33ce904afb50f0cc593528216ba6aa3
  color: #fff;
  font-family: "Noto Sans TC";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 14.4px;
<<<<<<< HEAD
  position: absolute;
  left: 50px;
}
#globalAsia .asiaCard {
  display: flex;
  align-items: center;
  gap: 32px;
}
#globalAsia .asiaCard .manila,
#globalAsia .asiaCard .nepal,
#globalAsia .asiaCard .israel {
  background-color: #fff;
  position: relative;
}
#globalAsia .asiaCard .manila .p1-sel,
#globalAsia .asiaCard .nepal .p1-sel,
#globalAsia .asiaCard .israel .p1-sel {
  display: flex;
}
#globalAsia .asiaCard .manila .p1-sel .loc-p1,
#globalAsia .asiaCard .nepal .p1-sel .loc-p1,
#globalAsia .asiaCard .israel .p1-sel .loc-p1 {
=======
}
#global .manila, #global .nepal, #global .israel {
  background-color: #fff;
  position: relative;
}
#global .manila .p1-sel, #global .nepal .p1-sel, #global .israel .p1-sel {
  display: flex;
}
#global .manila .p1-sel .loc-p1, #global .nepal .p1-sel .loc-p1, #global .israel .p1-sel .loc-p1 {
>>>>>>> 110be3bca33ce904afb50f0cc593528216ba6aa3
  display: flex;
  width: 270px;
  height: 180px;
}
<<<<<<< HEAD
#globalAsia .asiaCard .manila .p1-sel .select,
#globalAsia .asiaCard .nepal .p1-sel .select,
#globalAsia .asiaCard .israel .p1-sel .select {
=======
#global .manila .p1-sel .select, #global .nepal .p1-sel .select, #global .israel .p1-sel .select {
>>>>>>> 110be3bca33ce904afb50f0cc593528216ba6aa3
  width: 34px;
  height: 34px;
  position: absolute;
  top: 12px;
  right: 12px;
}
<<<<<<< HEAD
#globalAsia .asiaCard .manila .loc-info,
#globalAsia .asiaCard .nepal .loc-info,
#globalAsia .asiaCard .israel .loc-info {
=======
#global .manila .loc-info, #global .nepal .loc-info, #global .israel .loc-info {
>>>>>>> 110be3bca33ce904afb50f0cc593528216ba6aa3
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}
<<<<<<< HEAD
#globalAsia .asiaCard .manila .loc-info h2,
#globalAsia .asiaCard .nepal .loc-info h2,
#globalAsia .asiaCard .israel .loc-info h2 {
=======
#global .manila .loc-info h2, #global .nepal .loc-info h2, #global .israel .loc-info h2 {
>>>>>>> 110be3bca33ce904afb50f0cc593528216ba6aa3
  display: flex;
  width: 230px;
  color: #201811;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
<<<<<<< HEAD
#globalAsia .asiaCard .manila .loc-info .loc-text,
#globalAsia .asiaCard .nepal .loc-info .loc-text,
#globalAsia .asiaCard .israel .loc-info .loc-text {
=======
#global .manila .loc-info .loc-text, #global .nepal .loc-info .loc-text, #global .israel .loc-info .loc-text {
>>>>>>> 110be3bca33ce904afb50f0cc593528216ba6aa3
  display: -webkit-box;
  width: 230px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  color: #737B6B;
  text-overflow: ellipsis;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
<<<<<<< HEAD
#globalAsia .asiaCard .manila .loc-info .wi-st,
#globalAsia .asiaCard .nepal .loc-info .wi-st,
#globalAsia .asiaCard .israel .loc-info .wi-st {
=======
#global .manila .loc-info .wi-st, #global .nepal .loc-info .wi-st, #global .israel .loc-info .wi-st {
>>>>>>> 110be3bca33ce904afb50f0cc593528216ba6aa3
  display: flex;
  width: 230px;
  align-items: center;
  gap: 3px;
  border-bottom: 1px solid;
  padding-bottom: 12px;
}
<<<<<<< HEAD
#globalAsia .asiaCard .manila .loc-info .wi-st ul,
#globalAsia .asiaCard .nepal .loc-info .wi-st ul,
#globalAsia .asiaCard .israel .loc-info .wi-st ul {
=======
#global .manila .loc-info .wi-st ul, #global .nepal .loc-info .wi-st ul, #global .israel .loc-info .wi-st ul {
>>>>>>> 110be3bca33ce904afb50f0cc593528216ba6aa3
  display: flex;
  align-items: center;
  gap: 5px;
  flex: 100;
  width: auto;
}
<<<<<<< HEAD
#globalAsia .asiaCard .manila .loc-info .wi-st ul img,
#globalAsia .asiaCard .nepal .loc-info .wi-st ul img,
#globalAsia .asiaCard .israel .loc-info .wi-st ul img {
  width: 20px;
  height: 14px;
}
#globalAsia .asiaCard .manila .loc-info .wi-st ul p,
#globalAsia .asiaCard .nepal .loc-info .wi-st ul p,
#globalAsia .asiaCard .israel .loc-info .wi-st ul p {
=======
#global .manila .loc-info .wi-st ul img, #global .nepal .loc-info .wi-st ul img, #global .israel .loc-info .wi-st ul img {
  width: 20px;
  height: 14px;
}
#global .manila .loc-info .wi-st ul p, #global .nepal .loc-info .wi-st ul p, #global .israel .loc-info .wi-st ul p {
>>>>>>> 110be3bca33ce904afb50f0cc593528216ba6aa3
  color: #41453D;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;
}
<<<<<<< HEAD
#globalAsia .asiaCard .manila .loc-info .wi-st .stars,
#globalAsia .asiaCard .nepal .loc-info .wi-st .stars,
#globalAsia .asiaCard .israel .loc-info .wi-st .stars {
=======
#global .manila .loc-info .wi-st .stars, #global .nepal .loc-info .wi-st .stars, #global .israel .loc-info .wi-st .stars {
>>>>>>> 110be3bca33ce904afb50f0cc593528216ba6aa3
  display: flex;
  align-items: center;
  gap: 5px;
  align-self: stretch;
}
<<<<<<< HEAD
#globalAsia .asiaCard .manila .loc-info .wi-st .stars img,
#globalAsia .asiaCard .nepal .loc-info .wi-st .stars img,
#globalAsia .asiaCard .israel .loc-info .wi-st .stars img {
=======
#global .manila .loc-info .wi-st .stars img, #global .nepal .loc-info .wi-st .stars img, #global .israel .loc-info .wi-st .stars img {
>>>>>>> 110be3bca33ce904afb50f0cc593528216ba6aa3
  align-self: stretch;
  width: 20px;
  height: 20px;
}
<<<<<<< HEAD
#globalAsia .asiaCard .manila .loc-info span,
#globalAsia .asiaCard .nepal .loc-info span,
#globalAsia .asiaCard .israel .loc-info span {
=======
#global .manila .loc-info span, #global .nepal .loc-info span, #global .israel .loc-info span {
>>>>>>> 110be3bca33ce904afb50f0cc593528216ba6aa3
  display: flex;
  width: 230px;
  color: #41453D;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
<<<<<<< HEAD
#globalAsia .asiaCard .manila .color-block,
#globalAsia .asiaCard .nepal .color-block,
#globalAsia .asiaCard .israel .color-block {
  width: 270px;
  height: 8px;
  background-color: #F4D000;
}
#globalAsia button {
  display: flex;
  height: 26px;
  padding: 10px 14px;
  justify-content: flex-end;
  align-items: center;
  gap: 405px;
}/*# sourceMappingURL=location.css.map */
=======
#global .manila .color-block, #global .nepal .color-block, #global .israel .color-block {
  width: 270px;
  height: 8px;
  background-color: #F4D000;
}
>>>>>>> 110be3bca33ce904afb50f0cc593528216ba6aa3
