@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+TC:wght@100..900&display=swap");
/* 編碼一定要在第一行 */
@font-face {
  font-family: Nico Moji;
  src: url(../../assets/font/NicoMoji-Regular.ttf);
}
/* css reset */
* {
  box-sizing: border-box;
  /* 不累加內距及邊框 */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連接 */
a {
  color: ColorValues;
  text-decoration: none;
}

/* 重置按鈕 */
button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

#member-information {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  background-color: #F4F1E5;
  padding-top: 166px;
  padding-left: 225px;
  gap: 185px;
}
@media (max-width:1255px) {
  #member-information {
    padding-top: 0px;
    padding-left: 50px;
    align-items: center;
    gap: 50px;
  }
}
@media (max-width:640px) {
  #member-information {
    padding-top: 150px;
    align-items: flex-start;
  }
}
#member-information header ul {
  display: flex;
  flex-direction: column;
  width: 145px;
  height: 304px;
  padding: 30px 10px;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.5);
}
#member-information header ul li a {
  color: #C5C5C5;
  font-family: "Noto Sans TC";
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 1.8px;
  border-bottom: 1px solid #C5C5C5;
  transition: all 0.25s ease;
}
#member-information header ul:not(:hover) li:first-child a {
  color: #201811;
  border-bottom: 1px solid #201811;
}
#member-information header ul li:hover a {
  color: #201811;
  border-bottom: 1px solid #201811;
}
#member-information .m-all-box .m-d-title {
  border-bottom: 1px dashed #201811;
  margin-bottom: 32px;
  padding-bottom: 7px;
  margin-right: calc(50% - 50vw);
}
#member-information .m-all-box .m-d-title p {
  color: #201811;
  text-align: start;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 1.2px;
}