@charset "UTF-8";
/* 編碼一定要在第一行 */
/* css reset */
* {
  box-sizing: border-box;
  /* 不累加內距及邊框 */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連接 */
a {
  color: ColorValues;
  text-decoration: none;
}

#topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  display: grid;
  grid-template-columns: 220px 1fr 180px;
  align-items: center;
  padding: 0 50px;
  z-index: 999;
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
  border: 2px solid var(--alpha-w-40);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  box-shadow: 2px 2px 5px var(--alpha-b-20), inset -1px -1px 1px var(--alpha-w-40);
}
#topbar .logo {
  display: flex;
  align-items: center;
}
#topbar .navmenu {
  display: flex;
  justify-content: center;
  gap: 120px;
  list-style: none;
  margin: 0;
  padding: 0;
}
#topbar .navlogs {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}
#topbar .navlogs li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 24px;
  border-radius: 999px;
}
#topbar .navlogs .navlog {
  border: 1px solid #201811;
  color: #201811;
}
#topbar .navlogs .navsign {
  border: 1px solid #F4D000;
  background-color: #F4D000;
  color: #ffffff;
}
#topbar a {
  color: #201811;
}