@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+TC:wght@100..900&display=swap");
/* 編碼一定要在第一行 */
@font-face {
  font-family: Nico Moji;
  src: url(../../assets/font/NicoMoji-Regular.ttf);
}
/* css reset */
* {
  box-sizing: border-box;
  /* 不累加內距及邊框 */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連接 */
a {
  color: ColorValues;
  text-decoration: none;
}

/* 重置按鈕 */
button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

#sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  width: 526px;
  height: 542px;
  border-radius: 20px;
  background-color: #fff;
  padding: 40px 65px 25px 65px;
}
#sign h1 {
  text-align: center;
  margin-bottom: 45px;
  color: #201811;
  font-family: "Noto Sans TC";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
#sign form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
#sign form .sign-f-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  width: 390px;
  height: 33px;
  padding: 8px 15px;
  align-self: stretch;
  border-radius: 999px;
  background: rgba(0, 0, 0, 0.1);
}
#sign form .sign-f-row label {
  width: 75px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #201811;
  font-family: "Noto Sans TC";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  border-right: 1px solid #BDBDBB;
  padding-right: 10px;
  height: 20px;
}
#sign form .sign-f-row input {
  border: none;
  background-color: transparent;
  color: #201811;
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
#sign form button {
  display: flex;
  padding: 5px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 99px;
  background-color: #F4D000;
  border: none;
  color: #201811;
  font-family: "Noto Sans TC";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 2px;
  margin-top: 10px;
}
#sign p {
  margin-top: 25px;
}